html {font-family: Arial, sans-serif;}
body {background-color: #ddd;}
a {color: #B57E2F}
a:hover {color: #D57E2F;}
a:active {color: #D57E2F;}
a:visited {color: #B57E2F}
code {background-color: #eee; font-size: 1.1em; }

/* generic table style */
table {border-collapse: collapse; width: 90%; margin: 1.5% auto;}
td {word-wrap: break-word; word-break: break-all;}
td.int_key {width: 10%; word-break: inherit;}

.subscribers_breakdown_table {width: auto; margin: 0 0 0 10px; border-collapse: collapse;}
.subscribers_breakdown_table td { }

/*  reusable style / generic style  */
.clickable {cursor: pointer; background-color: #ffffEF; padding: 3%; }
.clickable.alert {background-color: #ffEFEF;}
.zebra {background-color: #efefef; }
.hidden {display: none; }
.visible {display: inherit; }

#spinner {position: fixed; bottom: 3%; right: 3%; z-index: 100;}

.container { display: flex; position: absolute; top: 1%; left: 1%; right: 1%; background-color: #eee; padding: 0.5%; flex-wrap: wrap; }
.flex_item_basic {background-color: #fff; padding: 1%; margin: 1%; flex-grow: 1; width: 30%; }
.flex_item_basic h1, .flex_item_basic h2 {margin: 0; }

.users_container {display: flex; flex-direction: column; }

/* flex box borders */
.api {border: 0.2em solid #DDFFDD; }
.users {border: 0.2em solid #FFDDDD; }
.world {border: 0.2em solid #DDDDFF; }


.world_item {margin: 0.5%; }
.world_item .world_key {font-weight: bold; display: inline-block; }
.world_item .world_value {display: inline-block; }
.world_item .world_tooltip {margin-left: 1%; }
.world_item .world_tooltip i {color: #666; }

.user_basic_info {width: auto; margin: 2%; display: inline-block; }
.user_basic_info h2 { font-size: 1em; margin: 0 auto; }
.active_user {background-color: #EEEEEE; border: 3px solid #9E9E9E; }
.inactive_user {background-color: #F5F5F5; }
.signed_out_user {background-color: #FAFAFA; }
.active_subscriber {background-color: #FFF59D; border: 3px solid #FFC107;}
.inactive_subscriber {background-color: #FFF9C4; }
.signed_out_subscriber {background-color: #FFFDE7; }
.user_detail { }
.log_detail { }
.log_line {padding: 1%; }

.capitalize {text-transform: capitalize;}

.recent_settlements_spinner {float: right; font-size: 7pt; text-align: center; }
.recent_settlements_spinner img {width: 30px; margin: 0 auto;}
.settlement {margin-top: 3%; }

table.killboard {margin-left: 1%;}

h3.settlement_name {font-weight: normal; margin-bottom: 0; }
button.toggle_settlement_event_log {float: right; }
.survivor_curse {background-color: #FFD740; background: #FFD740; }
.survivor_death {background-color: #F50057; background: #F50057; color: #fff}
.survivor_birth {background-color: #B2FF59; background: linear-gradient(#B2FF59, #d2fF59, #B2FF59)}
.survivor_join {background-color: #EEFF41; background: #EEFF41; }
.defeated_monster {color: #fff; background-color: #997030; background: #997030; }
.new_settlement {background-color: #1C7FC2; background: linear-gradient(to bottom, #1C7FC2, #137ABF); color: #fff; }
.add_location  {color: #fff; background: linear-gradient(to bottom, #73C26C, #51B952); }
.add_innovation {color: #fff; background: linear-gradient(#4EC7F1, #40ADD0); }
.sysadmin {color: #fff; background: #4A148C; font-weight: bold; }

.bg_spinner {float: right; }
.bg_spinner img {width: 50px; }

.warning {background-color: #FFFFCD;}
.error {background-color: #F7482E; }


/* Alerts! */
.webapp_alert {margin: 1%; }
.webapp_alert_title {display: block; width: 97%; margin: 0 auto; margin-top: 1%; font-weight: bold; padding: 1%; }
.webapp_alert_body {display: block; width: 97%; height: 100px; margin: 0 auto; margin-top: 1%; margin-bottom: 1%; padding: 1%;  }
.create_webapp_alert {margin: 0 auto; margin: 1%; background-color: #aaa; padding: 1%; }
.create_webapp_alert_control_block {margin: 1%; background-color: #eee; padding: 1%;  }
.create_webapp_alert button {width: 98%; margin: 0 auto; display: block; padding: 1%; font-weight: bold; margin-bottom: 1%; }
.red_button {background: linear-gradient(to bottom, #ff9a9a, #ff3434); border-radius: 5px; color: #fff; border: 1px solid #ff0d0d; }

.alert_footer {font-size: 75%; text-align:right; margin-top: 1%; }
.alert_controls {display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-end; }
.alert_controls button {}
