body {background-color: #ddd;}
a {color: #B57E2F}
a:hover {color: #D57E2F;}
a:active {color: #D57E2F;}
a:visited {color: #B57E2F}

.api_documentation {
    margin-left: 5%;
    margin-bottom: 1%; 
    width: 70%;
    border-collapse: collapse;
    background-color: #fff; 
}
.api_documentation td,
    table.api_documentation th {padding: 1%; }

.ul {border-bottom: 1px solid #999; }
.route_root {text-align: left; background-color: #ffffaa; }
tr.route_root th {padding: 3%; padding-right: 5%; font-family: monospace; font-weight: normal; }
.route {}
.methods { width: 12%; }
.comment {}
.api_documentation td {vertical-align: top; }

code {background-color: #DDFFDD; }

.embedded_table {margin: 2% auto; border-collapse: collapse; }
.embedded_table td {padding: 2%; border-top: 1px solid #aaa; }
.embedded_table th {min-width: 40px; }
.embedded_table td.key {font-family: monospace; border-right: 2px solid #aaa; width: 40%; }

td.subsection_header {padding: 3%; border-bottom: 1px solid #ddd; background-color: #ffffee;}

