:root {
    --font-tiny: 0.4rem;
    --font-small: 0.6rem;
    --font-medium: 1rem;
    --font-large: 1.5rem;
    --box-shadow-material-design: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/*  UI/UX, reusable effects, etc. */
.capitalize {text-transform: capitalize;}
.clickable {
    cursor: pointer;
    transition: 0.25s;
    outline: none;
}

button:active,
    .clickable:active {
    transform:translate(0.15vh, 0.15vh);
}

.hidden {display: none !important;}
.faded {opacity: 0.3; transition: 3s; }
.centered {text-align: center; }

/* angularjs animations */
.ng_fade.ng-enter,
    .ng_fade_in.ng-enter {transition: 1s linear all; opacity:0;}
.ng_fade.ng-enter.ng-enter-active,
    .ng_fade_in.ng-enter-active { opacity:1;}
.ng_fadeout.ng-leave,
    .ng_fade.ng-leave {transition: 1s linear all;  opacity:1;}
.ng_fadeout.ng-leave.ng-leave-active,
    .ng_fade.ng-leave.ng-leave-active {opacity:0;}
