#!/usr/bin/env python

[application]
title           = KD:M Manager!
debug           = True
version         = 1.32.403
log_dir         = /var/log/kdm-manager/
TLD             = http://kdm-manager.com
STATIC_ROOT     = /home/toconnell/media.kdm-manager.com/
STATIC_URL      = http://media.kdm-manager.com
session_horizon = 6
stylesheet      = %(STATIC_URL)s/style.css
mdb             = kdm-manager_v1
avatar_size     = 450, 600
dashboard_alert = In one week, email addresses will be REQUIRED to log in. If your current login is not an email address and you wish to continue using that login, please contact me ASAP!

[smtp]
host            = smtp.gmail.com
pass            = iVkNvwCz2ObH
name            = sysadmin@tyrannybelle.com
name_pretty     = KDM-Manager Administrator
no-reply        = noreply@kdm-manager.com

[users]
confirm_on_remove_from_storage  = False
apply_new_survivor_buffs        = True
apply_weapon_specialization     = True
validate_email                  = False

[server]
uid             = 1000
cwd             = kdm-manager/v1/
pid_file        = /var/run/kdm-manager/server.pid
port            = 8012
