{% extends '_base.html' %}
{%  set VIEW = 'settlement_sheet' %}

{% block head %}

    <script src="/static/js/settlementSheet.js?v={{ VERSION }}"></script>

{% endblock %}


{% block body %}

<body
    ng-if="apiStat"
    ng-init="setKingdomDeath();"
    ng-controller="settlementSheetController"
>

    <div
        class="full_page_loading_spinner"
        ng-if="!kingdomDeath || !settlement"
    >
        <img src="/static/media/loading_io.gif"/>
        <center>Loading...</center>
    </div>

	<div
	    id="settlementSheetApp"
	    ng-init="initializeSettlement('{{request.path.split('/')[-1]}}')"
	>

    {% include '/settlement_sheet/tab_sheet.html' %}
    {% include '/settlement_sheet/tab_storage.html' %}
    {% include '/settlement_sheet/tab_admin.html' %}

</div> <!-- settlementSheetApp -->

</body>

{% endblock %}
