<div
	id="settlementSheetAdminTab"
    class="view_tab"
    ng-show='tabsObject.activeTab === 6'
    ng-init="
        loadSettlementMacros();
    "
>
	<div class="kd worksheet_block">

        <div class="kd worksheet_block_title">
            Version
        </div>

        <p>
            Change the version of <i>Monster</i> game assets and rules that
            are used by this settlement.
        </p>
        <p
            ng-if="
                user.user.preferences.show_ui_tips
            "
        >
            Changing this <b>will not</b> alter settlement or survivor data!
        </p>
        <select
            class="kd_kickstarter_select"
            ng-disabled="
                {{current_user.subscriber.level}} < 2
                && '{{current_user.preferences.beta}}' !== 'True'
            "
            ng-model="settlement.sheet.version"
            ng-options="
                version.handle as version.version + ' - ' + version.released_summary for version in settlement.game_assets.versions
            "
            ng-change="setVersion()"
            ng-selected="settlement.sheet.version"
        >
        </select>

    </div> <!-- set version -->

    <!-- MACROS -->
    <div
        class="kd worksheet_block"
        ng-if="settlementMacros"
        ng-class="{
            'disabled': {{current_user.subscriber.level}} === 0,
        }"
        ng-disabled="{{current_user.subscriber.level}} < 2"
    >

        <div class="kd worksheet_block_title">
            Macros
        </div>

        <p>
            Settlement sheet macros allow you to perform complex settlement
            updates automatically! Tap or click a macro below to review the
            operations it performs.
        </p>

        <div
            ng-repeat="macro in settlementMacros"
            ng-init="macroControlsId = macro.handle + 'ControlsDiv'"
        >
            <button
                class="clickable kd capsule yellow full_width"
                ng-click="ngShow(macroControlsId)"
            >
                {a macro.name a}
            </button>

            <div
                id="{a macroControlsId a}"
                class="hidden modal"
                ng-click="ngHide(macroControlsId)"
            >

                <div
                    class="modal-content settlement_sheet_macro"
                    ng-click="$event.stopPropagation()"
                >

                    <div
                        class="clickable corner_close_modal"
                        ng-click="ngHide(macroControlsId)"
                    >
                    </div>

                    <h3 class="kd title">{a macro.name a}</h3>

                    <p ng-bind-html="macro.desc|trustedHTML"></p>

                    <div
                        class="kd worksheet_block"
                    >
                        <div
                            ng-repeat="item in macro.summary"
                            class="kd worksheet_row"
                        >
                            <div class="kd checkbox checked"></div>
                            <div
                                class="kd checkbox_desc"
                                ng-bind-html="item|trustedHTML"
                            >
                            </div>
                        </div>
                    </div>

                    <div
                        class="kd rulebook_warning pink"
                        ng-if="macro.new_settlement"
                    >
                        This macro was intended to be applied to new
                        settlements at creation time! Apply this macro
                        at your own risk...
                    </div>

                    <div class="modal_content_button_raft">
                        <button
                            class="kd capsule full_width blue"
                            ng-click="
                                ngHide(macroControlsId);
                                applyMacro(macro.handle);
                            "
                        >
                            Apply macro
                        </button>
                        <button
                            class="kd capsule full_width "
                            ng-click="ngHide(macroControlsId)"
                        >
                            Close
                        </button>
                    </div>

                </div>
            </div>

        </div>

    </div> <!-- MACROS -->


    <!-- ABANDON -->
    <div
        class="kd worksheet_block"
    >

        <div class="kd worksheet_block_title">
            Abandon Settlement
        </div>

        <p
            ng-if="settlement.sheet.abandoned !== undefined"
        >
            Use the button below to remove the 'abandoned' status from
            <b>{a settlement.sheet.name a}</b>; this will cause it to appear
            on your dashboard and function normally again.
        </p>
        <p
            ng-if="settlement.sheet.abandoned === undefined"
        >
            Use the button below to mark <b>{a settlement.sheet.name a}</b>
            as "Abandoned" and prevent it from showing up on your
            KDM-Manager dashboard.
        </p>
        <p
            ng-if="settlement.sheet.abandoned === undefined"
        >
            Abandoning a settlement <i>does not</i> remove it from the
            system. Abandoned settlements <i>may</i> be accessed and
            updated normally.
        </p>

        <button
            class="kd capsule full_width pink"
            ng-click="abandonSettlement()"
            ng-if="settlement.sheet.abandoned === undefined"
        >
            Abandon Settlement
        </button>

        <button
            class="kd capsule full_width pink"
            ng-click="abandonSettlement('UNSET')"
            ng-if="settlement.sheet.abandoned !== undefined"
        >
            Un-abandon Settlement
        </button>

    </div> <!-- abandon controls -->


    <!-- REMOVE -->
    <div
        class="kd worksheet_block"
        ng-if="'{{current_user.preferences.show_remove_button}}' == 'True'"
    >
        <div class="kd worksheet_block_title kd_red_text">
            Delete Settlement
        </div>

        <p>
            Use the button below to permanently delete
            <b>{a settlement.sheet.name a}</b>.
        </p>
        <p>
            This will <b>permanently delete all survivors</b> associated
            with this settlement.
        </p>
        <p class="kd_red_text">
            &nbsp;
            <b>This cannot be undone.</b>
        </p>
        <button
            class="kd capsule full_width pink"
            ng-click="showHide('removeSettlementConfirmation')"
        >
            Delete Settlement
        </button>
    </div>
    <div
        id="removeSettlementConfirmation"
        class="modal-black hidden"
        ng-click="ngHide('removeSettlementConfirmation')"
    >
        <div
            class="modal-content rm_asset_confirm_container kd_red"
            ng-click="$event.stopPropagation()"
        >

            <h3>DELETE SETTLEMENT</h3>

            <p>
                This CANNOT BE UNDONE and is not the same as marking the
                settlement "abandoned".
            </p>
            <p>
                Please consider abandoning old settlements rather than
                deleting them. This allows data about the settlement to
                be used in general https://kdm-manager.com stats that
                all users see on their dashboards.
            </p>
            <p>
                If you still want to permanently delete
                <b>{a settlement.sheet.name a}</b>, type "DELETE" (without
                the quotes) in the box below and then click the "DELETE"
                button that appears to permanently delete this settlement
                AND ALL SURVIVORS WHO BELONG TO THIS SETTLEMENT forever.
            </p>

            <input
                type="text"
                class="confirm_remove"
                ng-model="scratch.confirmRemove"
                placeholder="DELETE"
            />

            <button
                class="ng_fade kd_kickstarter_button kd_pink"
                ng-if="scratch.confirmRemove === 'DELETE'"
                ng-click="
                    showFullPageLoader();
                    showHide('removeSettlementConfirmation');
                    removeSettlement();
                    postForm('change_view','dashboard');
                "
            >
                Delete Settlement
            </button>
            <button
                class="ng_fade kd_kickstarter_button"
                ng-if="scratch.confirmRemove !== 'DELETE'"
                ng-click="ngHide('removeSettlementConfirmation')"
            >
                Close
            </button>
        </div><!-- rm_settlement_confirm_container -->

    </div><!-- modal-black confirmation container-->
</div> <!-- settlementSheetAdminTab -->
