{% extends "login/index.html" %}
{% set active_page = 'help' %} 

{% block content %}

    <!-- default message -->
    <p
        id="requestPasswordResetDefaultMessage"
        class="login_subhead"
        ng-if="apiStat"
    >
        Enter your email address below to recieve an email with instructions on
        how to recover your account:
    </p>

    <!-- failure -->
    <p 
        id="requestPasswordResetErrorMessage"
        class="login_subhead hidden"
    >
        The email address <b>{a resetPasswordRequest.badEmail a}</b>
        does not appear to be a registered email address.
    </p>

    <!-- success -->
    <p
        class="login_subhead"
        ng-if="resetPasswordRequest.successful === true"
    >
        Success!
    </p>
    <p
        class="login_subhead"
        ng-if="resetPasswordRequest.successful === true"
    >
        An email containing further instructions has been sent to
        <b>{a resetPasswordRequest.email a}</b>.
    </p>
    <p
        class="login_subhead"
        ng-if="resetPasswordRequest.successful === true"
    >
        Please allow a few minutes for it to arrive and be sure to check
        your junk/spam folder!
    </p>
    <p
        class="login_subhead"
        ng-if="resetPasswordRequest.successful === true"
    >
         Thanks for using the Manager!
    </p>

    <!-- request controls -->
    <div
        id="requestPasswordResetContainer"
        class="login_inputs_container"
        ng-if="apiStat !== undefined && apiStat !== false"
    >

        <label for="recoveryEmail" class="font_small login_label">
            Email
        </label>
        <input
            id="recoveryEmail"
            type="email"
            placeholder="Email"
            class="kd capsule full_width"
            ng-model="resetPasswordRequest.email"
        />

        <button
            class="kd capsule full_width pink font_large"
            ng-click="requestPasswordReset()"
            ng-disabled="!resetPasswordRequest.email"
        >
            Reset Password
        </button>



        <div
            id="requestPasswordResetSpinner"
            class="hidden"
        >
            <img src="/static/media/loading_lantern.gif" />
        </div>

    </div><!-- login_inputs_container -->


    <p class="login_subhead" ng-if="resetPasswordRequest.successful !== true">
        For more information about this application, including information about
        privacy, usage and intellectual property,
        <a href="/about">
            please click here</a>.
    </p>

{% endblock %}
