{% extends "_base.html" %}

{% block head %}

    <script src="/static/js/login.js?v={{VERSION}}"></script>

{% endblock%}

{% block body %}

    <body class="login">

        <div ng-controller="loginController" class="container">

            <h1 class="clickable login_splash" ng-click="loadURL('/')">
                {{APP_NAME}}
            </h1>

            <h2 class="clickable login_splash" ng-click="loadURL('/')">
                Online campaign manager
            </h2>

            <h3
                class="login_version_tag font_small"
                ng-class="{
                    'kd_red_text':
                        latestRelease && latestRelease.versionString !== '{{VERSION}}',
                }"
            >

                v.{{VERSION}}

                <span
                    class="tiny_loader"
                    ng-if="
                        apiStat !== undefined && apiStat !== false &&
                        latestRelease === undefined
                    "
                    ng-init="setLatestRelease()"
                >

                    <img src="/static/media/loading_io.gif"/>

                </span>

                <span
                    ng-if="latestRelease.versionString === '{{VERSION}}'"
                >
                    released on {a latestRelease.published_on.$date|date:'EEEE, yyyy-MM-dd' a}.
                </span>

            </h3>

        <noscript>
            <p><b>JavaScript is disabled!</b></p>
            <p>This utility depends on JavaScript for its user experience.</p>
            <p>Please enable JavaScript to continue.</p>
        </noscript>

        <div
            id="apiLoading"
            class="login_lantern_loader"
            ng-if="apiStat === undefined"
        >
            <img class="spinner" src="/static/media/loading_lantern.gif">
            <center>Contacting the KD:M API...</center>
        </div>

        <div
            id="lanternLoading"
            class="login_lantern_loader hidden"
        >
            <img class="spinner" src="/static/media/loading_lantern.gif">
            <center>...loading...</center>
        </div>

        <div
            class="login_downtime_warning"
            ng-if="apiStat === false"
        >
            <p>
                ...is currently down for maintenance!
            </p>
            <p>
                Visit <a href="https://downtime.kdm-manager.com" target="top">
                the Manager's Downtime site</a> for more information about outages,
                downtime and maintenance.
            </p>
            <p>Please try again later.</p>
        </div>



        {% block content %}
        {% endblock %}


        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div id="loginFlashContainer" class="kd_red_text">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}


        <div
            class="login_footer_container"
        >
            {% if active_page != 'signin' %}
                <a href="/">
                    Sign in
                </a>
            {% endif %}
            {% if active_page != 'register' %}
                <div>
                    <a 
                        href="/register"
                        ng-if="apiStat !== undefined && apiStat !== false"
                    >
                        Not registered? <b>Sign Up</b>.
                    </a>
                </div>
            {% endif %}

            {% if active_page != 'help' %}
                <div>
                    <a 
                        href="/help"
                    >
                        Help!
                    </a>    
                </div>
            {% endif %}
        </div>

      </div> <!-- container -->

</body>

{% endblock %}
