{% extends "login/index.html" %}

{% block controls %}

    <div
        id="new_user_controls"
        class="user_inputs hidden"
        ng-controller="newUserController"
    >
        <input
            id="newUserEmail"
            type="email"
            placeholder="New user email"
            class="email"
            ng-model="newUserEmail"
            autofocus
        />

        <input
            type="password"
            placeholder="Password"
            class="password"
            ng-model="newUserPassword"
        />

        <input
            type="password"
            placeholder="Password (again)"
            class="password"
            ng-model="newUserPasswordAgain"
        />

        <button
            class="submit kd_promo"
            ng-click="register('$api_url')"
        >
            Register
        </button>
    </div>

    <div id="pw_match_error" class="modal hidden">
        <div class="modal_message">
            <p>Passwords must match!</p>
            <p>Please try again.</p>
            <p>&nbsp;</p>
            <button class="submit kd_alert" ng-click="hideControls('pw_match_error')">OK</button>
        </div>
    </div>

    <div id="new_user_error" class="modal hidden">
        <div id="new_user_error_alert" class="api_alert kd_alert"></div>
        <div class="modal_message">
            <p>An error occurred while attempting to create a new user!</p>
            <p>Please make sure you have entered a valid email address as well as two matching passwords and try again.</p>
            <p>&nbsp;</p>
            <button class="submit kd_alert" ng-click="hideControls('new_user_error'); showNewUserControls();">OK</button>
        </div>
    </div>

{% endblock %}
