{% extends "login/index.html" %}
{% set active_page = 'register' %}

{% block content %}

    <form
        id="registerUserControlsContainer"
        class="login_inputs_container"
        ng-controller="loginController"
        action=""
        method="post"
        novalidate
    >

        {{ form.hidden_tag() }}

        <p>
            {{ form.username.label(class_='font_small login_label') }}
            {{ 
                form.username(
                    autofocus='autofocus',
                    class_='kd capsule full_width',
                    placeholder='email',
                    value=form.default_login
                )
            }}
            {% for error in form.username.errors %}
                <div class="login_field_error">{{ error }}</div>
            {% endfor %}
        </p>

        <p>
            {{ form.password.label(class_='font_small login_label') }}
            {{ form.password(class_='kd capsule full_width', placeholder='password') }}
            {% for error in form.password.errors %}
                <div class="login_field_error">{{ error }}</div>
            {% endfor %}
        </p>

        <p>
            {{ form.confirm.label(class_='font_small login_label') }}
            {{ form.confirm(class_='kd capsule full_width', placeholder='password (again)') }}
            {% for error in form.password.errors %}
                <div class="login_field_error">{{ error }}</div>
            {% endfor %}
        </p>

		<p>{{ form.submit(class_='kd capsule full_width blue font_large')}}</p>

    </div>

{% endblock %}
