{% extends "login/index.html" %}

{% block content %}

    <form
        id="resetPasswordControlsContainer"
        ng-controller="loginController"
        action=""
        method="post"
        novalidate
    >

        {{ form.hidden_tag() }}

        <p>
            {{ form.username(autofocus='autofocus', placeholder='email', value=form.default_login) }}
            {% for error in form.username.errors %}
                <span class="login_field_error">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.password(placeholder='password') }}
            {% for error in form.password.errors %}
                <span class="login_field_error">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.confirm(placeholder='password (again)') }}
            {% for error in form.password.errors %}
                <span class="login_field_error">[{{ error }}]</span>
            {% endfor %}
        </p>

		<p>{{ form.submit(class_='kd')}}</p>

    </div>

{% endblock %}
