{% extends "login/index.html" %}

{% block content %}

    <form
        id="resetPasswordControlsContainer"
        ng-controller="loginController"
        action=""
        method="post"
        novalidate
    >

        {{ form.hidden_tag() }}

        <p>
            {{ form.username(autofocus='autofocus', placeholder='email', value=form.default_login) }}
            {% for error in form.username.errors %}
                <span class="login_field_error">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.password(placeholder='password') }}
            {% for error in form.password.errors %}
                <span class="login_field_error">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.confirm(placeholder='password (again)') }}
            {% for error in form.password.errors %}
                <span class="login_field_error">[{{ error }}]</span>
            {% endfor %}
        </p>

		<p>{{ form.submit(class_='kd')}}</p>

    </div>

    <div id="pw_match_error" class="modal hidden">
        <div class="modal_message">
            <p>Passwords must match!</p>
            <p>Please try again.</p>
            <p>&nbsp;</p>
            <button class="submit kd_alert" ng-click="hideControls('pw_match_error')">OK</button>
        </div>
    </div>

    <div id="new_user_error" class="modal hidden">
        <div id="new_user_error_alert" class="api_alert kd_alert"></div>
        <div class="modal_message">
            <p>An error occurred while attempting to create a new user!</p>
            <p>Please make sure you have entered a valid email address as well as two matching passwords and try again.</p>
            <p>&nbsp;</p>
            <button class="submit kd_alert" ng-click="hideControls('new_user_error'); showNewUserControls();">OK</button>
        </div>
    </div>

{% endblock %}
