{% extends "login/index.html" %}
{%  set active_page='signin' %}

{% block content %}

    <h3 class="font_medium login_subhead" ng-if="apiStat">
        {{APP_TAG}}
    </h3>

    <form
        id="signInControls"
        class="login_inputs_container"
        ng-if="apiStat"
        action=""
        method="post"
        novalidate
    >

        {{ form.hidden_tag() }}

        <p>
            {{ form.username.label(class_='font_small login_label') }}
            {{
                form.username(
                    class_='kd capsule full_width',
                    autofocus='autofocus',
                    placeholder='email'
                )
            }}
            {% for error in form.username.errors %}
                <div class="login_field_error">{{ error }}</div>
            {% endfor %}
        </p>
    
        <p>
            {{ form.password.label(class_='font_small login_label') }}
            {{ form.password(class_='kd capsule full_width', placeholder='password') }}
            {% for error in form.password.errors %}
                <div class="login_field_error">{{ error }}</div>
            {% endfor %}
        </p>

        <p class="login_remember_me">
            {{ form.remember_me() }}
            {{ form.remember_me.label() }}
        </p>

        <p>
            {{ form.submit(class_='kd capsule full_width blue font_large') }}
        </p>

    </form>

{% endblock %}
