html {font-family: Arial, sans-serif; }
body { background: #263238; padding-top: 2em; }
a {text-decoration: none; color: #ccc; } 

.clickable {cursor: pointer; }

.fixed_nav {background: #000; position: fixed; left: 0; right: 0; top: 0; color: #ccc; display: flex; flex-direction: row; flex-wrap: wrap; padding: 0; justify-content: space-evenly; z-index: 10; }
.fixed_nav * {font-size: 1.2em; margin: 0.4em; }

.about_block {
	z-index: 1;
	background: #000;
	color: #fff;
	margin: 0 auto;  
	position: fixed;
	top: 0;
 	left: 0;
	right: 0; 
	overflow-y: hidden;
	max-height: 12em;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	padding: 1em;
}
.about_block.closed {max-height: 0; }


.block {padding: 0.5em; margin-bottom: 1em; }
.type_header {margin: 1em; background: #F9AA33; padding: 1em; }
.type_header h3 {text-transform: uppercase; }

code,
 .summary,
 .type_header,
 .section_header,
 .subsection_header,
 .doc_container {border-radius: 0.3em; }

.section_container,
 .subsection_container {margin: 0.5em auto; padding: 1em; }

.section_container { }
.section_header {background: #455A64; color: #fff; padding: 1em; }
.subsection_container {border: 1px solid #ccc; border-radius:  0.3em; background: #FAFAFA; }
.subsection_header {background: #B9F6CA; padding: 1em; }

.doc_container {background-color: #fff; margin: 1em auto; width: 97%; border: 1px solid #ccc; }
.doc_row {display: flex; flex-direction: row; flex-wrap: wrap; align-items: stretch; }
.doc_row_key {width: 5em; }
.doc_row_key,
 .doc_row_content {box-sizing: border-box; padding: 0.5em; }
.doc_row_content {width: 75%; flex:1; }
.doc_row_content.route {font-family: monospace; }
.doc_row_content.methods {font-weight: bold;}

code {background: linear-gradient(to right, #f9c7e7, #fffcdc); font-size: 1.2em; padding: 0.2em; display: inline-block; color: #000; }

table {border-collapse: collapse; cursor: default; margin: 1.5em; border: 0.2em solid #ccc; }
table th,
 table td {padding: 1em; text-align: center;  max-width: 700px; }
table th:first-child,
 table td:first-child { border-right: 1px solid #ccc; font-weight: bold; text-align: left;}
table th,
 table tr {border-bottom: 1px solid #ccc; }
table tr:hover {background: #ffffcc; }
table td.text {text-align: left; }


/* The side navigation menu */
.burger {font-size: 1em; }

.side_nav {
  height: 90%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 5; /* Stay on top */
  top: 2em; /* Stay at the top */
  left: 0;
  background-color: #000; /* Black*/
  color: #fff; 
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  padding-bottom: 10em; 
}

.side_nav.nav_open {width: 25%; }
#container.nav_open {margin-left: 25%; }

/*  style the nav tree on the left side bar  */
ul {margin-left: 0.5em; padding: 0; list-style-type: none; margin-bottom: 0.4em; }
ul li {font-size: 1.4em; } /* type */
ul ul {margin-left: 0.7em; list-style-type: none;}
ul ul li {font-size: 0.8em; } /* section */
ul ul ul {margin-left: 0.9em; list-style-type: none; margin-bottom: 0; }
ul ul ul li {font-size: 0.8em; font-style: italic; } /* subsection */
ul ul ul ul {margin-left: 1.1em; list-style-type: none; }
ul ul ul ul ul {margin-left: 1.3em; list-style-type: none;}
.nav_tree_type {text-transform: uppercase; }
.nav_tree_endpoint {font-family: monospace; font-size:1.5em; font-style: normal; margin-left: -0.5em;}
.nav_tree_section {margin-top: 0.5em;}
.nav_tree_subsection {border-left: 1px solid #666; padding-left: 0.5em; }


ul.embedded {font-size: 0.7em; }
