        /*                                  */ 
        /*          style.css            */
        /*                                  */


/* body styles and the the big, meta-div 'container' */
html {min-height: 100%;  }
body {font-family: Helvetica, sans-serif; height: 100%; }
#container {width: 100%; height: 100%; overflow: hidden;}
.desktop_only {display: none;}
.margin_auto {margin: 0 auto;}
fieldset {border: 0; text-align: left; }

/*  sign-in styles */
body.sign_in {background: linear-gradient(#bbb, #333);}
h1.seo {color: #fff; font-size: 20pt; text-align: center; margin-top: 0 none; font-weight: normal; }
h2.seo {color: #fff; font-size: 60pt; border: 0 none;  text-align: center; margin-bottom: -10px; font-weight: normal;} 
div#sign_in_container {background: 0 none; width: 80%; margin: 0 auto; margin-top: 15%;}
div#sign_in_controls {width:90%; height: 50%; margin: 0 auto; margin-top: 60%; padding: 0 none; text-align: center; }
input.sign_in {background-color:rgba(99, 99, 99, 0.5); color: #FFF; margin: 0 auto;  width: 90%; border: 0 none; margin-bottom: 40px;  padding: 0 none; padding-left: 5%; border-bottom: 2px solid #555; border-right: 2px solid #555;}
button.sign_in {width: 95%; margin: 0 auto; padding: 0 none; font-weight: normal; }

#user_error_msg {position: absolute; top: 30%; }

/*  dashboard styles */
body.dashboard {background: linear-gradient(130deg, #E6DADA, #274046); }
.dashboard_alert {position: fixed; width: 90%; left: 5%; bottom: 0; padding: 5px; font-size: 25pt; }
h2.clickable, .dashboard_accordion {margin: auto; padding: 5px; border-left: 1px solid; border-bottom: 2px solid; border-right: 2px solid; margin-bottom: 30px; }
.dashboard_accordion {border-top: 0 none; margin-top: -35px; z-index: 10; width: 96.3%; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; }
h2.clickable { 
    width: 95%; z-index: 5; 
    cursor: pointer; border-top: 1px solid #666; 
    padding-left: 20px; border-radius: 5px;
    margin-top: 10px; 
    }
.dashboard_world_defeated_monsters {width: 80%; margin-left: 7%;}
#motd {margin: 10px; position: absolute; bottom: 0;  }
.COD_down_arrow, .dashboard_down_arrow, .dashboard_icon {height: 50px; width: 50px;}
.dashboard_down_arrow, .COD_down_Arrow {float: right; z-index: 20;}
.dashboard_down_arrow {margin-right: 20px; margin-top: 20px; }
.COD_down_arrow {float: right; z-index: 20; margin-right: 80px; margin-top: -50px; }


/* settlement styles */
h3.inventory_tag {float: right; z-index: -1; clear: none; position: absolute;  margin-top: -40px; right: 56px; opacity: 0.3; padding: 10px; }
h3.clickable {padding: 1%; }
.hunting_party_macro {float: left; padding: 3px; text-align: center; width: 310px;}
.hunting_party_macro button {width: 90%;; }
#hunting_party_macro_container {width: 100%; padding: 0; margin: 0 auto; text-align: center; }


/* panel styles */
div#panel_block {width: 100%; padding: 0px;}
div#panel_block h3 {font-size: 35pt; padding: 0; }
div#panel_block p {margin: 0 auto; margin-left: 10px; }

/* font styles - let's try not to do too many of these, ok? */
font#hit_box_insanity {font-size: 35px;}

/* text-align styles */
button, h1, h3, div#shield_box, #block_group h2, input#topline_name, input#topline_name_fixed, .subhead_p_block, .big_number_square, .shield, #saved_dialog {text-align: center; }
.align_left {text-align: left;}
div#info_box h2, button#survivor_campaign_asset {text-align: left; }



/* color styles */
.maroon {
    background: linear-gradient(#a73737, #7a2828); color: #fff; 
    border-top: 2px solid #870000; border-left: 2px solid #870000; 
    border-right: 2px solid #190A05; border-bottom: 2px solid #190A05; 
}
.dark_green {background-color: #82bD00; }

.green {background-color: #C2FD60; }
.gradient_green {background: linear-gradient(-90deg, #1D976C, #93F9B9); }
.orange {background-color: #FFCC00; }
.gradient_orange {background: linear-gradient(-90deg, #F09819, #EDDE5D); }
.gradient_yellow {background: linear-gradient(-90deg, #F0B839, #FDEE7D); }
.purple {color: #000; background-color: #AC88BF; }
.gradient_purple { color: #000 ; background: linear-gradient(-90deg, #A743FE, #DA22FF); }
.gradient_violet { color: #000 ; background: linear-gradient(-90deg, #D773FE, #FA52FF); }

.gradient_silver { border-color: #666; background: linear-gradient(-90deg, #858FAA, #D7DDE8); }
.gradient_blue { background: linear-gradient(-90deg, #3a7bd5, #00d2ff);  }
.grey {background-color: #CCC;}

.tan    { border-color: #A97D5D; background-color: #F7DCB4; }
.info  { color: #00529B; background-color: #BDE5F8; }
.success {color: #333; background: linear-gradient(-90deg, #24FE41, #FDFC47);  border: 3px solid #00A300; border-left: 3px solid #00FF00; border-top: 3px solid #00FF00;}
.error { color: #D8000C; background-color: #FFBABA; border: 3px solid #A30000; border-left: 3px solid #FF0000; border-top: 3px solid #FF0000; }
.warn  { color: #D07808; background: linear-gradient(-90deg, #ffF387, #ffFc73);}


/* le bold styles */
.bold, .success, .error, .warn { font-weight: bold; }

/* survivor styles */
#survivor_owner {width: 95%; margin-left: 13px; }
.survivor_avatar_image {float: right; width: 450px; height: 560px; border: 1px solid #000;}
.survivor_avatar_image_campaign_summary {width: 180px; height: 240px; float: right; margin-top: 20px; }
.toggle_favorite {float: left; min-width: 50px; }
.hit_box_detail {padding-right: 20px; }
.hit_box_detail h2 {margin-top: 0px; border: 0 none; font-weight: normal; height: 250px; }

.big_number_container { width: 230px; padding: 0 none; display: inline-block; float: left; margin-right: 20px; text-align: center; min-height: 460px;  }
.big_number_square { border: 3px solid #666; width: 190px; height: 200px; margin-left: 5%; display: inline-block; margin-right: 20px; }
.big_number_caption { font-size: 75px; padding-top: 30px; color: #777;  }

/* clear: none styles*/
#damage_box, .floating_label, form, label#skip_next_hunt, div#info_box, label#float_right_toggle {clear: none;}

/* float: right styles */
#damage_box, label#skip_next_hunt, .floating_label, label#float_right_toggle {float: right; }



/* margin-left: 20px; */
p, .left_margin {margin-left: 20px; }

/* p styles */
p {padding: 10px;}
.subhead_p_block {font-size: 30px; margin-top: -43px; margin-bottom: -30px; }

/* input styles */

input[type=text], textarea, input[type=password], input[type=button], button { outline: none;}
input[type=text]:focus, textarea:focus, input[type=password]:focus, button:focus {  box-shadow: 0 0 6px rgba(1, 3, 12, 1); }


input#topline_name, input#topline_name_fixed {border: 0 none; font-size: 100px; height: auto; width: 90%; }
input#topline_name_fixed {position: fixed; z-index: 1; opacity: 0.9; margin-top: 22px;  }


input, button, div {font-size: 50px; }
input {height: 100px; }
input, h2, h3 #user_error_msg {padding-left: 10px; }
input, button, label {cursor: pointer; }

pre { white-space: pre-wrap; }

hr {clear: both;   }
hr.invisible {border: 0 none; }

/* generic UI/UX facilitation styles */
.no_border {border: 0 none; }
.hidden {display: none; }
.strikethrough {text-decoration: line-through; }




/* button styles */
input[type=submit].damage_box, input[type=submit].damage_box_checked { width: 130px; height: 130px; float: right; margin-left: 25px; margin-right: 5px; margin-top: 25px; padding: 0; color; border: 2px solid #000; background-color: #fff;}
input[type=submit].damage_box_checked {background-color: #000; }
input[type=submit].heavy_damage {border: 10px solid #000;}

button {padding-top: 20px; padding-bottom: 20px; }

.incrementer, .decrementer {float: left; width: 50px; display: inline-block; padding: 0 none; width: 207px; }

button#add_survivor_to_party { clear: left; background-color: #ddd; font-size: 70px; padding: 60px; width: auto; }
button#add_survivor_to_party, button#survivor_campaign_asset {display: inline-block; width: auto; margin: 10px;  }
button#survivor_campaign_asset {width: 75%; margin-right: 0 none; color: #000;}

button#remove_item, button#increment_nemesis {border: 0 none; display: inline-block; width: auto; margin: 10px; z-index: 10; }
button#remove_item {border-radius: 20px; padding-right: 10px; padding-left: 10px; background-color: #ddd}

.disabled, .strikethrough {color: #999; cursor: not-allowed; }
.unclickable {background-color: none; }


 /* nav bar styles */
#floating_refresh_button, #floating_dashboard_button, .floating_asset_button, #save_button {position: fixed; top: 3px; height: 125px; width: 170px; padding: 30px; border: 2px solid; z-index: 100; margin: 0; }

#save_button {left: 540px; }
.floating_asset_button {left: 360px; top: 3px; }
#floating_dashboard_button { left: 3px;  }
#floating_refresh_button {right: 3px; }

.nav_bar_mobile {width: 100%; height: 135px; position: fixed; margin-top: -8px; margin-left: -8px; z-index: 1; border-bottom: 3px solid #666;}
.top_nav_spacer {display: block; height: 110px; }


/* input styles */

input[type=radio], input[type=checkbox] {display: none; }
.radio_principle:checked + .radio_principle_label {  font-weight: bold; color: #C60000; }


/* label styles */
label {margin: 20px; font-size: 65px; color: #CCC; }
label, .full_width {clear: both; display: block; }
label#skip_next_hunt, label#float_right_toggle {text-align:center; border: 1px solid #999; padding: 10px;  }

button, #user_error_msg, .full_width {width: 90%; margin: 5%; }
.min_width {width: auto; padding: 5px; }

select {width: auto; margin-left: 20px; font-size: 60px; }

h2 {border: 5px solid; }

/* margin: auto */
#block_group, .block_group, div#survivor_hit_box, .shield {margin: auto; }

#block_group, .block_group { border: 3px solid #666; }
#block_group, .block_group, div#survivor_hit_box { width: 90%; clear: both; margin-top: 20px;  }
#block_group h2, h3 {border: 0 none; }

.shield, div#survivor_hit_box {border: 3px solid #000; }

div#survivor_hit_box {display: block; overflow: auto; }
div#info_box, div#shield_box, button#remove_item, .big_number_square, button#survivor_campaign_asset, button#add_survivor_to_party {float: left; }
div#info_box {padding-top: 0px; padding-left: 10px; width: 70%; border-left: 3px solid #000; }
div#info_box h2 {margin-top: 0px; border: 0 none; font-weight: normal; width: 40%;  }

#damage_box, div#shield_box {padding: 20px;}
.shield {border-radius: 0px 0px 100px 100px; width: 150px; height: 175px; clear: both; display: block; }
.big_number_square, .shield {font-size: 100px; }
.right_border {border-right: 2px solid #000; }
.left_border {background-color: #f60000; border-left: 2px solid #000; }
.icon {width: 50px; }





/* image styles */

/* epithet style silliness */
#Lucernae {color: blue; }
#Caratosis {color: red; }
#Dormenatus {color: green; }


/* meta specifc styles */
#saved_dialog {position: fixed; margin-top: 30%; margin-left: 40%; height: auto; width: 20%; padding: 20px; border: 3px solid; outline: none; display: none; }




/*      Media Queries for non-mobile resolutions below here    */


/* Desktop Resolution Starts here! */

@media screen and (min-width: 1000px) {
    /* CSS 'reset' */
    input, input[type=text] {font-size: 13pt; width: auto; height: auto; }
    button {font-size: 12pt; padding: 1%; }
    body {background: 0 none; }
    .desktop_only {display: inline-block;}
    .mobile_only {display: none;}
    .left_margin, .right_margin {height: auto;}
    .left_border, .right_border {height: auto;}
    input[type=text].full_width {width: 88%}
    h1 {font-size: 18pt; }
    h2 {font-size: 15pt; }
    h3 {font-size: 13pt; }
    h4, label {font-size: 12pt; }
    table, p {font-size: 11pt; margin: 0 auto; text-align: left; padding: 3px; }
    button {font-size: 11pt; margin: 0 auto; width: auto; padding: 3px; }
    hr {border: 1px solid #000; margin: 0 auto; opacity: 0.2; height: 0; width: 101%; padding: 0 none; margin-left: -1%; }
    form {margin: 0 auto; padding: 0;}
    select {width: 95%; margin: 10px; margin-bottom: -40px; font-size: 10pt;}
    label {clear: both; margin: 0 auto; float: left;  }
    input[type=radio] {float: left; display: none; width: auto;}
    input#survivor_owner {margin: 15px; margin-top: 10px; width: 90%;}
    label.sex_button {margin-bottom: 10px; }
    label#female_sex_button {margin-bottom: -15px;}
    input[type=checkbox] {float: left; width: auto; clear: both; }

    /* general style */
    button.change_view {margin-left: 3%; width: 20%; }
    #floating_refresh_button, #save_button, #floating_dashboard_button, .floating_asset_button {position: fixed; top: 1%; margin: 0 auto; height: auto; width: auto; padding: 5px; border: 2px solid; opacity: 1; z-index: 101; }
    #floating_dashboard_button {left: 83%;}
    .floating_asset_button {left: 1%; }
    #save_button {left: 40%; width: 300px; }
    #floating_refresh_button {width: 50px; left: 60%; height: 31px;}

    /* sign-in styles */
    body.sign_in {background: none; background-color: #aaa; }
    div#sign_in_container {background: linear-gradient(#aaa, #222); width: 30%; margin: 0 auto; margin-top: 10%; padding: 1%; height: 600px; }
    h1.seo {color: #fff; font-size: 15pt; text-align: center; margin-top: 0 none; font-weight: normal; }
    h2.seo {color: #fff; font-size: 18pt; border: 0 none;  text-align: center; margin-bottom: -10px; font-weight: normal; }
    div#sign_in_controls {width:90%; height: 50%; margin: 0 auto; margin-top: 60%; padding: 0 none; text-align: center; }
    input.sign_in {background-color:rgba(22, 22, 22, 0.3); color: #FFF; margin: 0 auto;  width: 90%; border: 0 none; margin-bottom: 1%;  padding: 0 none; padding-left: 5%; border-bottom: 2px solid #666; border-right: 2px solid #666;}
    button.sign_in {width: 95%; margin: 0 auto; padding: 0 none; font-weight: normal; }

    #user_error_msg {width: 25%; font-size: 12pt; right: 32%;}

    /*  dashboard styles */
    .dashboard_world_defeated_monsters {width: 50%; }
    .dashboard_alert {font-size: 14pt; }
    div.dashboard_preferences {width: 60%; text-align: center; margin-left: 20px; margin-top: 10px; }
    div.dashboard_preferences input, div.dashboard_preferences button {margin: 0 auto; margin-bottom: 3%; }
    div.dashboard_preferences button {width: 100%; }
    div.dashboard_preferences input {width: 96%;}
    div.dashboard_button_list {margin-top: -3%; padding-left: 5%; width: 60%;}
    div.dashboard_button_list button {width: 100%; text-align: left; padding-left: 3%; }
    div.dashboard_menu {width: 600px; float:left; display: block; margin: 0 auto; clear: left;}
    h2.clickable, .dashboard_accordion {margin: auto; padding: 1%; border-left: 1px solid; border-bottom: 2px solid; border-right: 2px solid; margin-bottom: 1%;}
    .dashboard_accordion {border-top: 0 none; margin-top: -1.7%; z-index: 10; width: 584px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; padding-bottom: 3%;}
    h2.clickable { 
        width: 95%; z-index: 5; 
        cursor: pointer; border-top: 1px solid #666; 
        padding-left: 20px; border-radius: 5px;
        margin-top: 10px; 
        }
    #motd {margin: 10px; position: absolute; bottom: 0;  }
    .dashboard_down_arrow, .dashboard_icon {height: 15px; width: 15px;}
    .dashboard_down_arrow, .COD_down_Arrow {float: right; z-index: 20;}
    .dashboard_down_arrow {margin: 0 none; margin-top: 5px; margin-right: 5px;}

    /* settlement styles */
    h1.settlement_name { text-align: left; margin-left: 20px; width: auto; display: inline-block;  margin-top: 55px; font-size: 22pt; margin-bottom: 40px; }
    span.vertical_spacer {width: 100%; height: 1px; margin: 0 auto; display: block; }
    span.nav_bar {position: fixed; top: 0; left: 0; width: 100%; min-height: 50px;  opacity: 1; border-bottom: 3px solid #666; z-index: 100; }
    div#campaign_summary_pop { display: inline-block; padding: 0px;  }
    div#campaign_summary_survivors {width: 380px; border-right: 2px solid #000; padding: 10px; padding-top: 0px; min-height: 800px; margin-top: -20px;  float: left; margin-right: 20px; display: block; }
    div#campaign_summary_facts_box { display: inline-block; width: 445px; float: left; margin-top: -45px; text-align: center;}
    div.campaign_summary_small_box {width: 430px; border: 2px solid #000; padding: 5px; padding-top: 0px; float: left; margin-bottom: 10px; }
    button#add_survivor_to_party {font-size: 15pt; padding: 10px; height: auto; width: auto; }
    button#survivor_campaign_asset {width: 300px; }
    button#campaign_summary_new_survivor {margin: 0 auto; width: 300px; margin-bottom: 20px; padding: 10px;  }
    .hunting_party_macro {float: left; padding: 3px; text-align: center; width: 84px; font-size: 11pt; border-left: 1px solid #ddd;}
    .hunting_party_macro button {width: 90%; margin: 3px; }
    #hunting_party_macro_container {width: 100%; padding: 0; margin: 0 auto; text-align: center; }
    button#increment_nemesis {margin: 3px; }
    #export_controls {float: left; padding: 12px; margin: 10px; margin-left: 15px; margin-top: -20px;  border-left: 2px solid #000; }


    /* asset creation styles */
    div#create_new_asset_form_container {width: 400px; border: 1px solid #222; margin: 0 auto; padding: 10px; text-align: center;}
    div#create_new_asset_form_container input[type=text] {border: 0px; display: block;  } 
    div#create_new_asset_form_container button {width: 60%; margin: 0 auto; } 
    div#create_new_asset_form_container p {padding: 0; padding-left: 40px;} 
    div.create_new_asset_block {width: 100%; margin: 0 auto; }

    /* asset management styles */
    .survivor_avatar_image {position: absolute; top: 490px; left: 20px; width: 175px; height: 225px;}
    .survivor_avatar_image_campaign_summary {width: 65px; height: 85px; float: right; margin-top: 0px; margin-left: 4px; }
    .negative_30px_bottom_margin {margin-bottom: -30px;}
    .toggle_favorite {position: absolute; margin-top: -33px; margin-left: 35px; min-width: 50px; }
    div#asset_management_left_pane, div#asset_management_middle_pane, div#asset_management_right_pane { margin: 0 auto; float: left; margin-top: -20px; padding: 5px; padding-top: 10px;}
    div#asset_management_left_pane {width: 360px; padding-left: 10px;}
    div#asset_management_middle_pane {width: 300px;  border-left: 3px solid #DDD; border-right: 3px solid #DDD;}
    div#asset_management_right_pane {width: 340px; }
    input#topline_name, input#topline_name_fixed {width: 374px; position: relative; font-size: 20pt; margin: 0 auto; margin-left: -20px; font-weight: bold; }
    input#topline_name {margin-bottom: 20px; }
    .shield, .big_number_square {font-size: 17pt; height: 55px; width: 45px; padding: 0; padding-left: 15px; border: 1px solid #666; margin: 5px; ; }
    .big_number_container, .big_number_caption {font-size: 13pt; height: auto; width: auto; padding: 0; }
    .big_number_container {min-height: 80px; }
    .incrementer, .decrementer {display: none; }
    input[type=submit].damage_box, input[type=submit].damage_box_checked { width: 30px; height: 30px; margin-top:3px; margin-left: 5px; border: 1px solid #000;}
    input[type=submit].heavy_damage {border: 3px solid #000;}
    input[type=file] {margin-bottom:10px;}
    div#survivor_hit_box {height: 75px; margin: 0 auto; border: 1px solid #666; margin-bottom: 10px; overflow: hidden; }
    .hit_box_detail {font-size: 9pt; padding: 0; }
    .hit_box_detail label {margin-top: -15px; margin-right: -5px;}
    .hit_box_detail h2 {height: 30px;  }
    font#hit_box_insanity {font-size: 10px;}        /* smh at this silly shit */
    .subhead_p_block {font-size: 11pt; margin: 0 auto; margin-bottom: -17px; margin-top: 0px; color: #999; }
    div#shield_box, div#damage_box {padding: 0; }
    div#survivor_dead_retired_container, div#survivor_survival_actions_container, div#survivor_survival_box_container {display: inline-block; margin: 0 auto; padding: 10px; padding-left: 0; }
    div#COD { position: relative; margin-top: 10px; }
    div#COD input { width: 260px; margin-left: -131px;  }
    div#survivor_survival_box_container {height: 40px; width: 190px; float: left; }
    div#survivor_dead_retired_container {float: left; width: 130px; height: 40px;  float: right; }
    div#survivor_survival_actions_container {width: 170px; height: 90px; margin: 0 auto; float: left; margin-top: 20px; }
    div#survivor_stats { width: 160px; float: right;}
    img.icon {width: 14px; }
    .desktop_indent {margin-left: 110px; }
    div.item_rack {position: fixed; height: auto; width: 300px; background-color #121212;}
    button#remove_item {z-index: 10;  }
    h3.inventory_tag {position: relative;  margin: 0 auto; opacity: 0.6; padding: 0; width: auto; height: 50px; z-index: -100;  margin-right: -50px;  }
    div.settlement_form_wide_box { float: left; width: 300px; height: 70px; margin: 0 auto; padding-top: 5px;}
    fieldset.settlement_principle {margin: 0 auto; padding: 0px; padding-left: 20px;  margin-bottom: 10px; }
    fieldset.settlement_principle input[type=radio] {display: none; }    

    /* panel styles */
    #panel_meta_stats, .panel_recent_user {font-size: 12pt; border-collapse: collapse; float: left; }
    #panel_meta_stats {width: 500px; margin-bottom: 20px; margin-left: 30px; }
    .panel_recent_user {margin: 10px; width: 900px; clear: left;  }
    #panel_kill_board {width: 200px; float: left; border-left: 2px solid #333; margin-left: 20px; }
}


