.survivor_curse {background-color: #FFD740; background: #FFD740; }
.survivor_death {background-color: #F50057; background: #F50057; color: #fff}
.survivor_birth {background-color: #B2FF59; background: linear-gradient(#B2FF59, #d2fF59, #B2FF59)}
.survivor_join {background-color: #EEFF41; background: #EEFF41; }
.defeated_monster {color: #fff; background-color: #997030; background: #997030; }
.new_settlement {background-color: #1C7FC2; background: linear-gradient(to bottom, #1C7FC2, #137ABF); color: #fff; }
.add_location  {color: #fff; background: linear-gradient(to bottom, #73C26C, #51B952); }
.add_innovation {color: #fff; background: linear-gradient(#4EC7F1, #40ADD0); }
.sysadmin {color: #fff; background: #999; }
.set_retired {background: #C5C6CB; }
.set_principle {background-color: #FF0040; color: #fff;}
