                    /*  these are non-responsive! */

h3.inventory_tag                            {z-index: -100; }
img.dashboard_bg                            {z-index: -10; }
img.sign_in                                 {z-index: -10; }
input#survivor_sheet_survivor_name          {z-index: 1;}
div#container                               {z-index: 0; }
div.create_user_asset_block_group input     {z-index: 1;}
button#remove_item                          {z-index: 10; }
h3.clickable                                {z-index: 10; }
.dashboard_accordion                        {z-index: 10; }
.dashboard_down_arrow                       {z-index: 20; }
.COD_down_arrow                             {z-index: 20; }
input[type=text], input[type=password]      {z-index: 50; }
div.survivor_sheet_attrib_controls_modal    {z-index: 50; }
div.survivor_constellation_badge            {z-index: 50; }
div.full_page_loading_spinner               {z-index: 99; }

    /* top nav_bar indexes */
.nav_bar, .nav_bar_mobile                   {z-index: 100; }
#floating_refresh_button,
#floating_dashboard_button                  {z-index: 101; }

.help-tip p                                 {z-index: 105}

    /* modal indexes */
div.survivor_search_modal_container         {z-index: 1199;}
input.survivor_search                       {z-index: 1200; }
.sidenav                                    {z-index: 2000; }
.modal                                      {z-index: 2001; }
div.full_size_modal_panel                   {z-index: 5000; }
span.timeline_overlay_current_ly            {z-index: 10000; }

    /* UI and feedback indexes */
.control_error                              {z-index: 9999998;}
#error_dialog, #saved_dialog                {z-index: 9999999;} /* platinum ticket */


