<!-- campaigns -->
<div class="dashboard_menu">

    <h2
        class="clickable campaign_summary_gradient dashboard_rollup"
        ng-click="
            rollUp('campaignsDiv');
        "
        ng-init="
            ngRolledUp['campaignsDiv'] = false;
        "
        ng-class="{'open': ngRolledUp['campaignsDiv'] === false}"
    >

        <span>
            &#9873; Campaigns
        </span>

        <span
            class="roll_content_arrow"
            ng-class="{'open': ngRolledUp['campaignsDiv'] === false}"
        >
            &#x25BC;
        </span>

    </h2>

    <div
        id="campaignsDiv"
        class="roll_down_container dashboard_accordion campaign_summary_gradient"
        ng-class="{'rolled_down': ngRolledUp['campaignsDiv'] === false}"
    >

        <p class="panel_top_tooltip">
            Games you are currently playing.
        </p>

        <p
            class="panel_top_tooltip"
            ng-if="{{current_user.subscriber.level}} < 1"
        >
            Campaigns created by non-subscribers are automatically removed
            automatically after six months.
            <a
                href="https://thelaborinvain-2.myshopify.com/"
                target="top"
            >
                Purchase a subscription to the Manager</a>
                to store your campaigns permanently!
        </p>

        <p
            ng-if="
                {{current_user.subscriber.level}} < 1 &&
                {{current_user.settlements_created}} === 3
            "
            class="kd_red_text"
        >
            <b>Non-subscriber settlement limit reached!</b>
        </p>

        <div
            class="dashboard_button_list"
            ng-if="dashboard.user.campaigns !== undefined"
        >

            <div
                ng-repeat="s in dashboard.user.campaigns | orderBy: '-'"
                ng-if="s.abandoned === undefined"
                ng-click="
                    showFullPageLoader();
                    loadURL('/campaign_summary/' + s._id.$oid);
                "
                class="dying_lantern dashboard_settlement_list_settlement_button"
            >
                {%  set settlement_button_type = 'campaign' %}
                {%  include 'dashboard/settlement_launch_button.html' %}
    
            </div>

        </div><!-- dashboard_button_list -->

    </div><!-- campaignsDiv -->

</div><!-- .dashboard_menu -->
