{% extends '_base.html' %}
{% set VIEW = 'dashboard' %}

{% block head %}

    <script src="/static/js/dashboard.js?v={{VERSION}}"></script>

{% endblock %}

{% block body %}

<body
    ng-if="apiStat"
>

    {% include 'dashboard/welcome.html' %}

    <div
        id="dashboardControlElement"
        class="dashboard_top_level_container"
        ng-controller="dashboardController"
        ng-init="
            initializeDashboard('{{current_user._id}}');
        "
    >

        <img
            class="dashboard_bg_art"
            src="/static/media/tree_logo_shadow.png"
        />


        {%  include 'dashboard/system.html' %}
        {%  include 'dashboard/collection.html' %}
        {%  include 'dashboard/campaigns.html' %}
        {%  include 'dashboard/settlements.html' %}
        {%  include 'dashboard/world.html' %}
        {%  include 'dashboard/about.html' %}
        {%  include 'dashboard/alerts.html' %}


        <!-- show a loader graphic/warning while we retrieve settlements -->
        <div
            id="dashboardSettlementsRetrieved"
            class="ng_fadeout capsule_alert capsule_outer"
            ng-if="
                dashboard.settlementsRetrieved !==
                dashboard.settlementsRequired
            "
        >
            <div class="kd yellow capsule_inner">

                <div class="short font_medium">
                    <font class="kdm_font_hit_locations">a</font>
                </div>

                <div class="long font_small">
                    Retrieving settlement {a dashboard.settlementsRetrieved a} /
                    {a dashboard.settlementsRequired a}
                </div>

            </div><!-- capsule_inner -->

        </div><!-- capsule_outer -->

    </div> <!-- dashboardControlElement -->

</body>

{% endblock %}
