<!-- settlements -->
<div
    id="all_settlements_panel"
    class="dashboard_menu all_settlements_panel"
>

    <h2
        class="clickable settlement_sheet_gradient dashboard_rollup"
        ng-click="rollUp('settlementsDiv');"
        ng-class="{'open': ngRolledUp['settlementsDiv'] === false}"
    >

        <span>
            &#9874; Settlements
        </span>

        <span
            class="roll_content_arrow"
            ng-class="{'open': ngRolledUp['settlementsDiv'] === false}"
        >
            &#x25BC;
        </span>

    </h2>

    <div
        id="settlementsDiv"
        class="roll_down_container dashboard_accordion settlement_sheet_gradient rolled_up"
        ng-class="
            {'rolled_down': ngRolledUp['settlementsDiv'] === false}
        "
    >

        <p class="panel_top_tooltip">
            Settlements you have created.
        </p>

        <p
            class="panel_top_tooltip"
            ng-if="{{current_user.subscriber.level}} < 1"
        >
            Non-subscriber users may create up to three settlements:
            <a href="https://thelaborinvain-2.myshopify.com/" target="top">
            purchase a subscription to the Manager</a> for as little as $3 US
            to create an unlimited number of settlements!
        </p> <!-- subscribers alert -->

        <!-- warning for free users re: settlement max -->
        <p
            ng-if="
                {{current_user.subscriber.level}} < 1 &&
                {{current_user.settlements_created}} === 3
            "
        >
            To create additional settlements, use the link above to become 
            a subscriber to the Manager. Alternately, you may wish to remove
            one of your existing settlements. To do this, click on "System"
            above and enable the controls for removing settlements. Then,
            use the "Remove" button on the Settlement Sheet to remove one
            of your existing settlements.
        </p>

        <p
            ng-if="
                {{current_user.subscriber.level}} < 1 &&
                {{current_user.settlements_created}} === 3
            "
        >
            <b>Important!</b> Abandoned settlements are not considered to have
            been <i>removed</i> and count towards your total number of
            settlements!
        </p>


        <!-- create new settlement --> 
        <form
            method="POST"
            action=""
            ng-if="
                {{current_user.settlements_created}} < 3 ||
                {{current_user.subscriber.level}} > 0
            "
        >
            <input type="hidden" name="change_view" value="new_settlement" />
            <button
                id="dashboardCreateNewSettlement"
                class="kd_kickstarter_button kd_blue"
                onclick="showFullPageLoader()"
            >
                + Create New Settlement
            </button>
        </form>

        <div
            class="dashboard_button_list"
            ng-if="dashboard.user.campaigns !== undefined"
        >
            <div
                ng-repeat="s in dashboard.user.campaigns | orderBy: '-'"
                ng-if="s.abandoned === undefined"
                ng-click="
                    showFullPageLoader();
                    loadURL('/settlement/' + s._id.$oid);
                "
                class="dying_lantern dashboard_settlement_list_settlement_button"
            >

                {%  set settlement_button_type = 'settlement' %}
                {%  include 'dashboard/settlement_launch_button.html' %}

            </div>

        </div> <!-- dashboard_button_list -->

    </div> <!-- all_settlements_div -->

</div> <!-- all_settlements_panel -->
