<div class="dashboard_menu">

    <h2
        class="clickable dashboard_rollup kd silver"
        ng-click="
            rollUp('dashboardSystemDiv');
        "
        ng-class="{'open': ngRolledUp['dashboardSystemDiv'] === false}"
    >
        <span class="roll_icon_holder">
            &#9881;
        </span>
        <span class="roll_content_title">
            System
        </span>
        <span
            class="roll_content_arrow"
            ng-class="{'open': ngRolledUp['dashboardSystemDiv'] === false}"
        >
            &#x25BC;
        </span>
    </h2>

    <div
        id="dashboardSystemDiv"
        class="roll_down_container dashboard_accordion rolled_up kd silver"
        ng-class="{'rolled_down': ngRolledUp['dashboardSystemDiv'] === false}"
    >

        <div class="dashboard_panel_card gear_card_gradient">

            <h3 class="kd title">User Info</h3>
            <div class="kd worksheet_row">
                <div class="kd checkbox checked"></div>
                <div class="kd checkbox_desc">
                    <i>{{current_user.login}}</i>
                </div>
            </div>
            <div class="kd worksheet_row">
                <div
                    class="kd checkbox"
                    ng-class="{
                        'checked': '{{current_user.verified_email}}' === 'True',
                    }"
                >
                </div>
                <div class="kd checkbox_desc">
                    Verified email
                </div>
            </div>
            <div class="kd worksheet_row">
                <div class="kd checkbox checked"></div>
                <div class="kd checkbox_desc">
                    Registered user for {{current_user.age}}
                </div>
            </div>
            <div class="kd worksheet_row">
                <div
                    class="kd checkbox"
                    ng-class="{
                        'checked': {{current_user.subscriber.level}} > 0,
                    }"
                >
                </div>
                <div
                    class="kd checkbox_title"
                >
                    <span
                        ng-if="{{ current_user.subscriber.level }} > 0"
                    >
                        <b>{{ current_user.subscriber.desc }}</b>
                    </span>
                    <span
                        ng-if="{{ current_user.subscriber.level }} === 0"
                    >
                        Non-subscriber / free user
                    </span>
                </div>
            </div>
            <div class="kd worksheet_row">
                <div
                    class="kd checkbox"
                    ng-class="{
                        'checked': {{current_user.subscriber.level}} > 0,
                    }"
                >
                </div>
                <div class="kd checkbox_desc">
                    <span
                        ng-if="{{ current_user.subscriber.level }} > 0"
                    >
                        Subscriber for {{ current_user.subscriber.age }}
                    </span>
                    <span
                        class="disabled"
                        ng-if="{{ current_user.subscriber.level }} === 0"
                    >
                        Subscriber for 0 days
                    </span>
                </div>
            </div>

            <button
                class="kd capsule full_width pink"
                ng-if="{{current_user.subscriber.level}} < 1"
                ng-click="loadURL('https://thelaborinvain-2.myshopify.com/')"
            >
                Buy a subscription!
            </button>

            <button
                class="kd capsule full_width"
                ng-click="loadURL('/logout')"
            >
                SIGN OUT
            </button>

        </div>

        <div
            class="dashboard_panel_card gear_card_gradient"
            ng-if="'{{current_user.verified_email}}' !== true"
        >
            <h3 class="kd title">Verify Email Address</h3>

            <p>Coming soon!</p>

        </div>

        <div class="dashboard_panel_card gear_card_gradient">

            <h3 class="kd title">Change Password</h3>

                <p>
                    The Manager does not enforce any length or complexity
                    requirements for passwords, so please use good judgement!
                </p>

                <input
                    ng-if="!scratch.saved_password"
                    class="kd capsule full_width"
                    type="password"
                    ng-model="scratch.password"
                    placeholder="new password"
                    ng-focus="scratch.saved_password = undefined"
                />
                <input
                    ng-if="!scratch.saved_password"
                    class="kd capsule full_width"
                    type="password"
                    ng-model="scratch.password_again"
                    placeholder="new password (again)"
                />
                <button
                    ng-click="updatePassword()"
                    class="ng_fade kd capsule full_width pink"
                    ng-if="
                        scratch.password !== undefined &&
                        scratch.password == scratch.password_again
                    "
                >
                    Change Password
                </button>

        </div> <!-- dashboard_panel_card (change pw) -->

        <!-- hack city!!! -->
        <span
            class="hidden font_small"
            ng-init='setUserPreferences("({{current_user.preferences}})")'
        >
            |prefs|{a scratch.userPreferences a}|prefs|
        </span>

        {% for group in PREFERENCES %}

            <div class="dashboard_panel_card gear_card_gradient">

                <h3 class="kd title">{{ group.name }}</h3>

                {% for pref in group.options %}

                    <div
                        class="ng_fade dashboard_preference"
                        ng-disabled="
                            {{current_user.subscriber.level}} < {{pref.subscriber_level}}
                        "
                    >
                        <p
                            class="dashboard_preference_description"
                        >
                            {{ pref.desc|safe }}
                        </p>

                        <div class="dashboard_preference_elections_container">

                            <div
                                class="kd worksheet_row clickable"
                                ng-repeat="
                                    choice in [
                                        ['affirmative', true],
                                        ['negative', false]
                                    ]
                                "
                                ng-click="setPref(
                                    '{{pref.handle}}', choice[1]
                                )"
                            >

                                <div
                                    class="kd checkbox"
                                    ng-class="{
                                        'checked': scratch.userPreferences['{{pref.handle}}'] === choice[1],
                                    }"
                                >
                                </div>

                                <div
                                    class="kd checkbox_desc"
                                    ng-if="choice[0] === 'affirmative'"
                                >
                                    {{ pref['affirmative'] }}
                                </div>

                                <div
                                    class="kd checkbox_desc"
                                    ng-if="choice[0] === 'negative'"
                                >
                                    {{ pref['negative'] }}
                                </div>

                            </div>

                        </div> <!-- dashboard_preference_elections_container -->

                    </div><!-- dashboard_preference -->

                {% endfor %} <!-- pref in group -->

            </div><!-- dashboard_preference_block_group -->

        {% endfor %} <!-- group in PREFERENCES-->

    </div> <!-- dashboardSystemDiv -->

</div> <!-- dashboard_menu -->
