<div class="dashboard_menu">

    <h2
        class="clickable dashboard_rollup kd silver"
        ng-click="
            rollUp('dashboardSystemDiv');
        "
        ng-class="{'open': ngRolledUp['dashboardSystemDiv'] === false}"
    >
        <span>
            &#9881;  System
            <span class="font_medium">(v{{VERSION}})</span>
        </span>
        <span
            class="roll_content_arrow"
            ng-class="{'open': ngRolledUp['dashboardSystemDiv'] === false}"
        >
            &#x25BC;
        </span>
    </h2>

    <div
        id="dashboardSystemDiv"
        class="roll_down_container dashboard_accordion rolled_up kd silver"
        ng-class="{'rolled_down': ngRolledUp['dashboardSystemDiv'] === false}"
    >

        <div id="systemPanelUserLoginContainer">

            <h3 id="systemPanelUserLogin"> {{current_user.login}} </h3>

            <div class="preferences_sub_block preferences_sign_out">

                <button
                    class="kd_kickstarter_button"
                    ng-click="loadURL('/logout')"
                >
                    SIGN OUT
                </button>

            </div>

            <div class="dashboard_preferences_container user_info">
                <p>Registered user for {{current_user.age}}.</p>

                <p ng-if="{{current_user.subscriber.level}} < 1">
                    <a
                        href="https://thelaborinvain-2.myshopify.com/"
                        target="top"
                    >
                        Support the Manager! Buy a subscription!
                    </a>
                </p>

                <p ng-if="{{current_user.subscriber.level}} > 0">
                    Subscription level: <b>{{ current_user.subscriber.desc }}.</b>
                </p>

                <p ng-if="{{current_user.subscriber.level}} > 0">
                    Subscriber for <b>{{ current_user.subscriber.age }}.</b>
                </p>

                <p ng-if="{{current_user.preferences.beta}} === true" class="maroon_text">
                    <b>Beta features of the Manager have been enabled!</b> 
                </p>

                <div class="preferences_sub_block preferences_change_pw">
                    <p>
                        <b>Change Password!</b>
                    </p>

                    <input
                        class="kd capsule"
                        type="password"
                        ng-model="scratch.password"
                        placeholder="new password"
                        ng-focus="scratch.saved_password = undefined"
                    />
                    <input
                        class="kd capsule"
                        type="password"
                        ng-model="scratch.password_again"
                        placeholder="new password (again)"
                    />
                    <button
                        ng-click="updatePassword()"
                        class="kd_kickstarter_button kd_pink"
                        ng-if="scratch.password != undefined && scratch.password == scratch.password_again"
                    >
                        Change Password
                    </button>
                    <p
                        ng-if="scratch.saved_password"
                    >
                        Password updated!
                        <b>Signing out...</b>
                    </p>

                </div> <!-- preferences_sub_block preferences_change_pw -->

            </div> <!-- dashboard_preferences_container user_info -->

        </div> <!-- systemPabnelUserLoginContainer -->


        <h3> Manage Preferences</h3>

        <div
            class="dashboard_preferences_container"
            ng-init='setUserPreferences({{current_user.preferences|tojson}})'
        >

            <p>
                Use the controls below to update application-wide preferences.
                These settings will affect all of your settlements and
                survivors!
            </p>

            {% for group in PREFERENCES %}
            <div
                class="dashboard_preference_block_group"
            >

                <h2>{{ group.name }}</h2>

                {% for pref in group.options %}
                <div
                    class="ng_fade dashboard_preference"
                    ng-disabled="
                        {{current_user.subscriber.level}} < {{pref.subscriber_level}}
                    "
                >
                    <p class="dashboard_preference_description">
                        {{ pref.desc|safe }}
                    </p>

                    <div class="dashboard_preference_elections_container">

                        <div
                            class="dashboard_preference_election_item clickable"
                            ng-repeat="
                                choice in [
                                    ['affirmative', true], ['negative', false]
                                ]
                            "
                            ng-click="setPref(
                                '{{pref.handle}}', choice[1]
                            )"
                        >

                            <div
                                class="kd_sheet_ui_box"
                                ng-class="{
                                    'checked': scratch.userPreferences.{{pref.handle}} === choice[1],
                                }"
                            >
                            </div>

                            <div ng-if="choice[0] === 'affirmative'">
                                {{ pref['affirmative'] }}
                            </div>
                            <div ng-if="choice[0] === 'negative'">
                                {{ pref['negative'] }}
                            </div>

                        </div>

                    </div> <!-- dashboard_preference_elections_container -->

                </div><!-- dashboard_preference -->
                {% endfor %} <!-- pref in group -->

            </div><!-- dashboard_preference_block_group -->
            {% endfor %} <!-- group in PREFERENCES-->

        </div> <!-- dashboard_preferences -->
    </div> <!-- system_div -->
</div> <!-- preferencesContainerElement -->
