<script
    src="/js/dashboard.js?v=$application_version"
    ng-init="
        setView('dashboard');
        setSessionVars('$user_login','$current_session');
    "
>
</script>

<div
    id="dashboardWelcomeModal"
    class="ng_fade modal dashboard_welcome_modal hidden"
    ng-class="{true: 'visible', false: 'hidden'}[user.dashboard.settlements.length == 0]"
    ng-click="showHide('dashboardWelcomeModal')"
>
    <p>Welcome to <b>https://kdm-manager.com</b>, the original online campaign
    manager for Kingdom Death: <i>Monster</i>!</p>
    <p><b>The Manager</b> is an interactive webapp intended to make it
    easier to manage and share your Kingdom Death: <i>Monster</i> campaigns.</p>
    <p>This application is fan-maintained and <b>is not</b> supported by or
    affiliated with Kingdom Death.</p>
    <p>To get started, you will have to <b>create a new settlement</b>. Once your new
    settlement is created, you will be shown a <b>campaign summary</b>, which
    is like a dashboard for your campaign.</p>
    <p>From the <b>campaign summary</b>, you can use the controls in the upper-left
    corner to add new survivors, view your settlement's "sheet" and add/remove
    expansion content.</p>
    <p>In order to add other players to your campaign, all you have to do is
    navigate to an individual survivor's "sheet" and change that survivor's email
    address to the email address of another registered user of this site.</p>
    <p>Changes to settlement and survivor sheets are always saved
    automatically, unless otherwise indicated (e.g. by a "Save" button).</p>
    <p>Finally, this application is <u>under active development</u> and problems <b>will</b>
    occur! Please use the controls within the app to report errors/issues.</p>
    <button class="kd_kickstarter_button kd_pink">
        Click or tap anywhere to get started!
    </button>
</div>

<div
    id="dashboardControlElement"
    class="dashboard_top_level_container"
    ng-controller="dashboardController"
    ng-init="
        initializeUser('$user_id', 'dashboard', '$api_url');
        showInitDash();
        setLatestChangeLog('$blog_api_key');
        loadExpansionAssets();
    "
>

    <img
        class="dashboard_bg_art"
        src="/media/tree_logo_shadow.png"
    /> <!-- DASHBOARD LOGO ART -->

    <div class="dashboard_menu">
        <h2
            class="clickable system_primary dashboard_rollup"
            ng-click="
                rollUp('dashboardSystemDiv');
            "
            ng-class="{'open': ngRolledUp['dashboardSystemDiv'] === false}"
        >
            <span>
                &#9881;  System
                <span class="font_medium metrophobic">(v$application_version)</span>
            </span>
            <span
                class="roll_content_arrow"
                ng-class="{'open': ngRolledUp['dashboardSystemDiv'] === false}"
            >
                &#x25BC;
            </span>
        </h2>

        <div
            id="dashboardSystemDiv"
            class="roll_down_container dashboard_accordion system_secondary rolled_up"
            ng-class="{'rolled_down': ngRolledUp['dashboardSystemDiv'] === false}"
        >

            <div id="systemPanelUserLoginContainer">
                <h3 id="systemPanelUserLogin"> {{user_login }} </h3>
                <div class="preferences_sub_block preferences_sign_out">
                    <button
                        class="kd_kickstarter_button"
                        ng-click="signOut()"
                    >
                        SIGN OUT
                    </button>
                </div>
                <div class="dashboard_preferences_container user_info">
                    <p>Registered user for {{user.user.age}}.</p>
                    <p ng-if="user.user.subscriber.level < 1">
                        <a href="https://thelaborinvain-2.myshopify.com/" target="top">
                            Support the Manager! Buy a subscription!
                        </a>
                    </p>
                    <p ng-if="user.user.subscriber.level > 0">Subscription level: <b>{{user.user.subscriber.desc}}.</b>
                    <p ng-if="user.user.subscriber.level > 0">Subscriber for <b>{{user.user.subscriber.age}}.</b>
                    <p ng-if="user.user.preferences.beta === true" class="maroon_text">
                        <b>Beta features of the Manager have been enabled!</b> 
                    </p>

                    <div class="preferences_sub_block preferences_change_pw">
                        <p><b>Change Password!</b></p>
                        <input
                            type="password"
                            ng-model="scratch.password"
                            placeholder="new password"
                            ng-focus="scratch.saved_password = undefined"/><br/>
                        <input type="password" ng-model="scratch.password_again" placeholder="new password (again)"><br/>
                        <button
                            ng-click="updatePassword()"
                            class="kd_kickstarter_button kd_pink"
                            ng-if="scratch.password != undefined && scratch.password == scratch.password_again"
                        >
                            Change Password
                        </button>
                        <p ng-if="scratch.saved_password">Password updated! <b>Signing out...</b></p>
                    </div> <!-- preferences_sub_block preferences_change_pw -->
                </div> <!-- dashboard_preferences_container user_info -->
            </div> <!-- dashboard_preferences_block_container -->

            <h3> Manage Preferences</h3>
            <div class="dashboard_preferences_container">
                <p>Use the controls below to update application-wide preferences.
                These settings will affect all of your settlements and survivors!</p>

                <div
                    class="dashboard_preference_block_group"
                    ng-repeat="group in user.preferences"
                    ng-init="group.visibleElements = 0"
                >
                    <h2
                        ng-if="group.visibleElements > 0"
                    >
                        {{group.name}}
                    </h2>

                    <div
                        class="ng_fade dashboard_preference"
                        ng-repeat="pref in group.items"
                        ng-if="user.user.subscriber.level >= pref.patron_level ||
                            pref.beta == user.user.preferences.beta
                        "
                        ng-init="group.visibleElements = group.visibleElements + 1"
                    >
                        <p class="dashboard_preference_description" ng-bind-html="pref.desc|trustedHTML"></p>
                        <div 
                            class="dashboard_preference_elections_container"
                        >

                            <div
                                class="dashboard_preference_election_item clickable"
                                ng-repeat="option in [
                                    ['affirmative', true],
                                    ['negative', false]
                                ]"
                                ng-click="setPref(pref, option[1])"
                            >
                                <div
                                    class="kd_sheet_ui_box"
                                    ng-class="{
                                        'checked': pref.value === option[1]}
                                    "
                                ></div>
                                <div>
                                    {{ pref[option[0]] }}
                                </div>
                            </div>

                        </div> <!-- dashboar_preference_elections_container -->
                    </div><!-- dashboard_preference -->
                </div><!-- dashboard_preference_block_group -->
            </div> <!-- dashboard_preferences -->
        </div> <!-- system_div -->
    </div> <!-- preferencesContainerElement -->


    <!-- collections -->
    <div class="ng_fade dashboard_menu">
        <h2
            class="clickable dashboard_rollup collection collection_gradient"
            ng-click="
                rollUp('collectionDiv');
            "
            ng-class="{'open': ngRolledUp['collectionDiv'] === false}"
        >
            <span>
                <font class="kdm_font_hit_locations dashboard_kdm_font">a</font>
                KD Collection
            </span>
            <span
                class="roll_content_arrow"
                ng-class="{'open': ngRolledUp['collectionDiv'] === false}"
            >
                &#x25BC;
            </span>
        </h2>

        <div
            id="collectionDiv"
            class="
                roll_down_container
                dashboard_accordion
                dashboard_user_collection_container
                collection_gradient
                rolled_up
            "
            ng-class="{'rolled_down': ngRolledUp['collectionDiv'] === false}"
        >
            <p class="panel_top_tooltip">Use the checkboxes below to record which <i>Monster</i>
            expansions are in your personal KD collection!</p>
            <p class="panel_top_tooltip">You can then use your Collection to add
            Fighting Arts, Disorders and Settlement Events from your expansions
            to your campaigns without adding monsters, gear, locations, etc.</p>

            <div
                class="dashboard_user_collection_repeater"
                ng-repeat="category in [
                    'Quarry',
                    'Nemesis',
                    'White Box',
                    'Enhancement'
                ]"
            >
                <h3 class="collection_category_header">{{category}}</h3>
                <div
                    class="dashboard_user_expansions_repeater clickable"
                    ng-repeat="(handle, expansion) in expansions"
                    ng-click="toggleUserExpansion(handle)"
                    ng-if="expansion.ui.pretty_category === category"
                >
                    <div
                        class="special_attribute_checkbox"
                        ng-class="{active: user.user.collection.expansions.indexOf(handle) != -1}"
                    ></div>
                    <div
                        class="dashboard_expansion_name"
                        ng-class="{active: user.user.collection.expansions.indexOf(handle) != -1}"
                    >
                        {{expansion.name}}
                    </div>
                    <div
                        class="dashboard_expansion_subtitle"
                        ng-if="expansion.subtitle !== undefined"
                        ng-bind-html="expansion.subtitle|trustedHTML"
                    >
                    </div>
                </div><!-- expansion repeater -->
            </div><!-- category repeater -->
        </div><!-- collection div/accordion -->
    </div><!-- dashboard_menu -->


    <!-- campaigns -->
    <div class="dashboard_menu">
        <h2
            class="clickable campaign_summary_gradient dashboard_rollup"
            ng-click="
                rollUp('campaignsDiv');
            "
            ng-init="
                ngRolledUp['campaignsDiv'] = false;
            "
            ng-class="{'open': ngRolledUp['campaignsDiv'] === false}"
        >
            <span>
                &#9873; Campaigns
            </span>
            <span
                class="roll_content_arrow"
                ng-class="{'open': ngRolledUp['campaignsDiv'] === false}"
            >
                &#x25BC;
            </span>
        </h2>

        <div
            id="campaignsDiv"
            class="roll_down_container dashboard_accordion campaign_summary_gradient"
            ng-class="{'rolled_down': ngRolledUp['campaignsDiv'] === false}"
        >
            <p class="panel_top_tooltip">Games you are currently playing.</p>
            <p
                class="panel_top_tooltip"
                ng-if="user.user.subscriber.level < 1"
            > Campaigns created by non-subscribers are automatically removed after six months.
                <a href="https://thelaborinvain-2.myshopify.com/" target="top">
                    Purchase a subscription to the Manager</a>
                to store your campaigns permanently!
            </p> <!-- subscribers alert -->

            <p ng-if="user.user.subscriber.level < 1 && user.user.settlements_created === 3" class="maroon_text">
                <b>Non-subscriber settlement limit reached!</b>
            </p>

            <div class="dashboard_button_list">

                <form
                    ng-repeat="s in campaigns | orderBy: '-'"
                    ng-if="s.sheet.abandoned == undefined"
                    method="POST"
                >
                    <input type="hidden" name="view_campaign" value="{{s.sheet._id.$oid}}" />
                    <button
                        class="dying_lantern dashboard_settlement_list_settlement_button"
                        onclick="showFullPageLoader(); this.form.submit()"
                    >
                        <b class="dashboard_settlement_list_settlement_name">{{s.sheet.name}}</b>
                        <br/><i>{{s.sheet.campaign_pretty}}</i>
                        <ul class="dashboard_settlement_list_settlement_attribs">
                            <li ng-if="s.meta != undefined && s.meta.creator_email != user_login"><i>Created by:</i>{{s.meta.creator_email}}</li>
                            <li ng-if="s.meta != undefined"><i>Started:</i> {{s.meta.age}} ago</li>
                            <li><i>LY:</i> {{s.sheet.lantern_year}} &nbsp; <i>Survivors:</i> {{s.sheet.population}}</li>
                            <li ng-if="s.meta.player_email_list.length >= 2">
                                <i>Players:</i> {{s.meta.player_email_list.join(', ')}}
                            </li>
                        </ul>
                    </button>
                </form>

                <div
                    id="dashboardCampaignsLoader"
                    class="dashboard_settlement_loader"
                    ng-if="campaigns.length < user.dashboard.campaigns.length"
                >
                    <img
                        src="/media/loading_lantern.gif"
                        alt="Retrieving settlements..."
                    /> Retrieving campaigns...
                </div>


            </div>
        </div>
    </div>

    <div
        id="all_settlements_panel"
        class="dashboard_menu all_settlements_panel"
    >
        <h2
            class="clickable settlement_sheet_gradient dashboard_rollup"
            ng-click="rollUp('settlementsDiv');"
            ng-class="{'open': ngRolledUp['settlementsDiv'] === false}"
        >
            <span>
                &#9874; Settlements
            </span>
            <span
                class="roll_content_arrow"
                ng-class="{'open': ngRolledUp['settlementsDiv'] === false}"
            >
                &#x25BC;
            </span>
        </h2>

        <div
            id="settlementsDiv"
            class="roll_down_container dashboard_accordion settlement_sheet_gradient rolled_up"
            ng-class="{'rolled_down': ngRolledUp['settlementsDiv'] === false}"
        >
            <p class="panel_top_tooltip"settlementsettlements you have created.</p>
            <p
                class="panel_top_tooltip"
                ng-if="user.user.subscriber.level < 1"
            >
                Non-subscriber users may create up to three settlements:
                <a href="https://thelaborinvain-2.myshopify.com/" target="top">
                purchase a subscription to the Manager</a> for as little as $3 US
                to create an unlimited number of settlements!
            </p> <!-- subscribers alert -->

            <!-- warning for free users re: settlement max -->
            <p ng-if="user.user.subscriber.level < 1 && user.user.settlements_created === 3">
                To create additional settlements, use the link above to become 
                a subscriber to the Manager. Alternately, you may wish to remove
                one of your existing settlements. To do this, click on "System"
                above and enable the controls for removing settlements. Then,
                use the "Remove" button on the Settlement Sheet to remove one
                of your existing settlements.
            </p>
            <p ng-if="user.user.subscriber.level < 1 && user.user.settlements_created === 3">
                <b>Important!</b> Abandoned settlements are not considered to have been <i>removed</i> and count towards your total number of settlements!
            </p>


            <!-- create new settlement --> 
            <form
                method="POST"
                action=""
                ng-if="
                    user.dashboard.settlements.length < 3 ||
                    user.user.subscriber.level > 0
                "
            >
                <input type="hidden" name="change_view" value="new_settlement" />
                <button
                    id="dashboardCreateNewSettlement"
                    class="kd_kickstarter_button kd_blue"
                    onclick="showFullPageLoader()"
                >
                    + Create New Settlement
                </button>
            </form>

            <div class="dashboard_button_list">

                <form
                    ng-repeat="s in settlements"
                    method="POST"
                >
                    <input type="hidden" name="view_settlement" value="{{s.sheet._id.$oid}}" />
                    <button
                        class="dying_lantern dashboard_settlement_list_settlement_button"
                        onclick="showFullPageLoader(); this.form.submit()"
                    >
                        <b class="dashboard_settlement_list_settlement_name">{{s.sheet.name}}</b>
                        <span class="maroon_text" ng-if="s.sheet.abandoned != undefined">[ABANDONED]</span>
                        <br/><i>{{s.campaign_pretty}}</i>
                        <ul class="dashboard_settlement_list_settlement_attribs">
                            <li ng-if="s.meta != undefined"><i>Created:</i> {{s.meta.age}} ago</li>
                            <li>
                                <span ng-if="s.sheet.expansions.length > 0">
                                    {{s.sheet.expansions.length}} expansions
                                </span>
                                <span ng-if="s.sheet.expansions.length > 0 && s.meta != undefined">
                                    /
                                </span>
                                <span ng-if="s.meta != undefined">
                                    {{s.meta.player_email_list.length}} player(s)
                                </span>
                            </li>
                            <li><i>LY:</i> {{s.sheet.lantern_year}}</li>
                            <li><i>Population:</i> {{s.sheet.population}}</li>
                            <li><i>Deaths:</i> {{s.sheet.death_count}}</li>
                            <li ng-if="s.meta.player_email_list.length >= 2"><i>Admins:</i> {{s.sheet.admins.join(',')}}</li>
                            <li ng-if="s.meta.player_email_list.length >= 2"><i>Players:</i> {{s.meta.player_email_list.join(', ')}}</li>
                        </ul>
                    </button>
                </form>

                <div
                    id="dashboardSettlementsLoader"
                    class="dashboard_settlement_loader"
                    ng-if="settlements.length < user.dashboard.settlements.length"
                >
                    <img
                        src="/media/loading_lantern.gif"
                        alt="Retrieving settlements..."
                    /> Retrieving settlements...
                </div>


            </div> <!-- dashboard_button_list -->

        </div> <!-- all_settlements_div -->
    </div> <!-- all_settlements_panel -->

    <div
        id="world_container"
        class="dashboard_menu world_panel"
    >

        <h2
            class="clickable world_primary dashboard_rollup"
            ng-click="rollUp('worldDiv');"
            ng-class="{'open': ngRolledUp['worldDiv'] === false}"
        >
            <span>
                <font class="kdm_font_hit_locations dashboard_kdm_font white_text">g</font>
                <font class="white_text">World</font>
            </span>
            <span
                class="roll_content_arrow white_text"
                ng-class="{'open': ngRolledUp['worldDiv'] === false}"
            >
                &#x25BC;
            </span>
        </h2>

        <div
            id="worldDiv"
            class="
                roll_down_container
                dashboard_accordion
                world_secondary
                world_container
                rolled_up
            "
            ng-class="{'rolled_down': ngRolledUp['worldDiv'] === false}"
        >

            <center ng-if="world == undefined">
                <br/>
                <img src="/media/loading_lantern.gif"><br/>
                <span class="white">Retrieving World data...</span>
                <br/>
            </center>

            <div class="world_panel_basic_box" ng-if="world != undefined">
                <p>
                    <font class="green_text"> <b>{{world.active_settlements.value}} </b></font> Settlements are holding fast.
                    <font class="maroon_text"><b> {{world.abandoned_or_removed_settlements.value}} </b></font> have been abandoned.
                </p>
                <p>
                    <font class="green_text"> <b>{{world.live_survivors.value}}</b> </font> Survivors are alive and fighting.
                    <font class="maroon_text"><b>{{world.dead_survivors.value}}</b></font> have perished.</p>
            </div>

            <div class="world_panel_basic_box" ng-if="world != undefined">
                <h3>Settlement Statistics</h3>

                <p>
                    {{world.total_multiplayer_settlements.name}}:
                    <b>{{world.total_multiplayer_settlements.value}}</b>
                </p>
                <p>
                    {{world.new_settlements_last_30.name}}:
                    <b>{{world.new_settlements_last_30.value}}</b>
                </p>

                <table>
                    <tr><th colspan="2">{{world.top_settlement_names.name}}</th></tr>
                    <tr ng-repeat="row in world.top_settlement_names.value" ng-class-even="'zebra'">
                        <td>{{row.name}}</td><td class="int_value">{{row.count}}</td>
                    </tr>
                </table>

                <table>
                    <tr><th colspan="2">Active Campaigns</th></tr>
                    <tr ng-repeat="(name,count) in world.settlement_popularity_contest_campaigns.value" ng-class-even="'zebra'">
                        <td>{{name}}</td> <td class="int_value">{{count}}</td>
                    </tr>
                </table>

                <table>
                    <tr><th colspan="2">Campaigns w/ Expansion Content</th></tr>
                    <tr
                        ng-repeat="e in world.settlement_popularity_contest_expansions.value"
                        ng-class-even="'zebra'"
                        ng-if="e.sub_type !== 'pseudo'" 
                    >
                        <td>{{e.name}}</td> <td class="int_value">{{e.count}}</td>
                    </tr>
                </table>

                <table>
                    <tr><th colspan="2">Settlement Averages</th></tr>
                    <tr><td>Lantern Year </td><td class="int_value">{{world.avg_ly.value}}</td></tr>
                    <tr class="zebra"><td>Innovation Count </td><td>{{world.avg_innovations.value}}</td></tr>
                    <tr><td>Expansions</td><td> {{world.avg_expansions.value}}</td></tr>
                    <tr class="zebra"><td>Defeated Monsters</td><td> {{world.avg_defeated_monsters.value}}</td></tr>
                    <tr><td>Items in Storage</td> <td>{{world.avg_storage.value}}</td></tr>
                    <tr class="zebra"><td>Milestone Story Events</td><td> {{world.avg_milestones.value}}</td></tr>
                    <tr><td>Lost Settlements </td><td>{{world.avg_lost_settlements.value}}</td></tr>
                </table>

                <table><tr><th>Principle selection rates</th></tr></table>
                <div ng-repeat="(principle, selections) in world.principle_selection_rates.value">
                    <table>
                        <tr><th colspan="2" class="principle">{{principle}}</th></tr>
                        <tr ng-repeat="option in selections.options" ng-class-even="'zebra'">
                            <td>{{option}}</td>
                            <td class="int_value">{{selections[option].percentage}}%</td>
                        </tr>
                    </table>
                </div>

                <table>
                    <tr><th colspan="2">Top Innovations</th></tr>
                    <tr ng-repeat="row in world.top_innovations.value" ng-class-even="'zebra'">
                        <td>{{row.name}}</td><td class="int_value">{{row.count}}</td>
                    </tr>
                </table>

                <table>
                    <tr><th>Survival Limit stats</th></tr>
                    <tr><td>Average Survival Limit:</td><td class="int_value">{{world.avg_survival_limit.value}}</td></tr>
                    <tr class="zebra"><td>Max Survival Limit:</td><td>{{world.max_survival_limit.value}}</td></tr>
                </table>


            </div>

            <div class="world_panel_basic_box" ng-if="world != undefined">
                <h3>Latest Settlement</h3>
                <table>
                    <tr><td colspan="2"><b>{{world.latest_settlement.value.name}}</b></td></tr>
                    <tr><td colspan="2"><i>{{world.latest_settlement.value.campaign}}</i></td></tr>
                    <tr ng-if="world.latest_settlement.value.expansions != null">
                        <td colspan="2">{{world.latest_settlement.value.expansions}}</td>
                    </tr>
                    <tr><td>Created</td><td>{{world.latest_settlement.value.age}} ago</td></tr>
                    <tr class="zebra"><td>Players</td><td>{{world.latest_settlement.value.player_count}}</td></tr>
                    <tr><td>Population</td><td>{{world.latest_settlement.value.population}}</td></tr>
                    <tr class="zebra"><td>Death count</td><td>{{world.latest_settlement.value.death_count}}</td></tr>
                </table>

            </div>

            <div class="world_panel_basic_box" ng-if="world != undefined">
                <h3>Survivor Statistics</h3>

                <table>
                    <tr><th>Population and death stats</th></tr>
                    <tr><td>Average Population</td><td class="int_value">{{world.avg_pop.value}}</td></tr>
                    <tr class="zebra"><td>Max Population</td><td>{{world.max_pop.value}}</td></tr>
                    <tr><td>Average Death count</td><td> {{world.avg_death_count.value}}</td></tr>
                    <tr class="zebra"><td>Max Death Count</td> <td>{{world.max_death_count.value}}</td></tr>
                </table>

                <table>
                    <tr><th colspan="2">Top Survivor names</th></tr>
                    <tr ng-repeat="row in world.top_survivor_names.value" ng-class-even="'zebra'">
                        <td>{{row.name}}</td> <td class="int_value">{{row.count}}</td>
                    </tr>
                </table>

                <table>
                    <tr><th colspan="2">Top Causes of Death</th></tr>
                    <tr ng-repeat="row in world.top_causes_of_death.value" ng-class-even="'zebra'">
                        <td>{{row.cause_of_death}}</td> <td class="int_value">{{row.count}}</td>
                    </tr>
                </table>

                <table>
                    <tr><th colspan="2">Living survivor averages</th></tr>
                    <tr><td>Hunt XP</td><td>{{world.avg_hunt_xp.value}}</td></tr>
                    <tr class="zebra"><td>Insanity</td><td class="int_value">{{world.avg_insanity.value}}</td></tr>
                    <tr><td>Courage</td><td>{{world.avg_courage.value}}</td></tr>
                    <tr class="zebra"><td>Fighting Arts</td><td>{{world.avg_fighting_arts.value}}</td></tr>
                    <tr><td>Understanding</td><td>{{world.avg_understanding.value}}</td></tr>
                    <tr class="zebra"><td>Disorders</td><td>{{world.avg_disorders.value}}</td></tr>
                    <tr><td>Abilities/Impairments</td><td>{{world.avg_abilities.value}}</td></tr>
                </table>

            </div>

            <div class="world_panel_basic_box" ng-if="world != undefined">
                <h3>Latest Survivor</h3>
                <table>
                    <tr ng-if="world.latest_survivor.value.avatar != undefined">
                        <td colspan="2" class="world_panel_avatar_cell">
                            <img
                                class="world_panel_avatar"
                                ng-src="{{api_url}}avatar/get/{{world.latest_survivor.value.avatar.$oid}}"
                                title="{{world.latest_survivor.value.name}}"
                            />
                    </tr>
                    <tr><td colspan="2"><b>{{world.latest_survivor.value.name}}</b> [{{world.latest_survivor.value.sex}}] of </td></tr>
                    <tr><td colspan="2"><i>{{world.latest_survivor.value.settlement_name}}</i></td></tr>
                    <tr ng-if="world.latest_settlement.value.epithets != null">
                        <td colspan="2">{{world.latest_survivor.value.epithets}}</td>
                    </tr>
                    <tr><td>Created</td><td>{{world.latest_survivor.value.age}} ago</td></tr>
                    <tr class="zebra"><td>Joined in LY</td><td>{{world.latest_survivor.value.born_in_ly}}</td></tr>
                    <tr><td>Hunt XP</td><td>{{world.latest_survivor.value.hunt_xp}}</td></tr>
                    <tr class="zebra"><td>Insanity</td><td>{{world.latest_survivor.value.Insanity}}</td></tr>
                    <tr><td>Courage</td><td>{{world.latest_survivor.value.Understanding}}</td></tr>
                    <tr class="zebra"><td>Understanding</td><td>{{world.latest_survivor.value.Insanity}}</td></tr>
                </table>

            </div>

            <div class="world_panel_basic_box" ng-if="world != undefined">
                <h3>Latest Fatality</h3>
                <table>
                    <tr ng-if="world.latest_fatality.value.avatar != undefined">
                        <td colspan="2" class="world_panel_avatar_cell">
                            <img
                                class="world_panel_avatar"
                                ng-src="{{api_url}}avatar/get/{{world.latest_fatality.value.avatar.$oid}}"
                                title="{{world.latest_fatality.value.name}}"
                            />
                    </tr>
                    <tr><td colspan="2"><b>{{world.latest_fatality.value.name}}</b> [{{world.latest_fatality.value.sex}}] of </td></tr>
                    <tr><td colspan="2"><i>{{world.latest_fatality.value.settlement_name}}</i></td></tr>
                    <tr><td colspan="2">Cause of Death:</td></tr>
                    <tr><td colspan="2">&ensp; <font class="maroon_text"><b>{{world.latest_fatality.value.cause_of_death}}</b></font></td></tr>
                    <tr ng-if="world.latest_settlement.value.epithets != null">
                        <td colspan="2">{{world.latest_fatality.value.epithets}}</td>
                    </tr>
                    <tr><td>Created</td><td>{{world.latest_fatality.value.age}} ago</td></tr>
                    <tr class="zebra"><td>Died in LY</td><td>{{world.latest_fatality.value.died_in}}</td></tr>
                    <tr><td>Hunt XP</td><td>{{world.latest_fatality.value.hunt_xp}}</td></tr>
                    <tr class="zebra"><td>Insanity</td><td>{{world.latest_fatality.value.Insanity}}</td></tr>
                    <tr><td>Courage</td><td>{{world.latest_fatality.value.Understanding}}</td></tr>
                    <tr class="zebra"><td>Understanding</td><td>{{world.latest_fatality.value.Insanity}}</td></tr>
                </table>

            </div> <!-- latest fatality -->

            <div class="world_panel_basic_box" ng-if="world != undefined">
                <h3>Latest Kill</h3>
                <p><b>{{world.latest_kill.value.raw_name}}</b></p>
                <p>Defeated by the survivors of <b>{{world.latest_kill.value.settlement_name}}</b> on {{world.latest_kill.value.killed_date}} at {{world.latest_kill.value.killed_time}}.</p>
            </div>

            <div class="world_panel_basic_box" ng-if="world != undefined">
                <h3>{{world.killboard.name}}</h3>
                <table ng-repeat="(type,board) in world.killboard.value">
                    <tr><th class="principle capitalize" colspan="2">{{type}}</th></tr>
                    <tr ng-repeat="row in board" ng-class-even="'zebra'">
                        <td>{{row.name}}</td> <td class="int_value">{{row.count}}</td>
                    </tr>
                </table>
            </div>

            <div class="world_panel_basic_box" ng-if="world != undefined">
                <h3>User Statistics</h3>
                <p> <b>{{world.total_users.value}}</b> users are registered. <b>{{world.total_subscribers.value}}</b> users are <a href="https://thelaborinvain-2.myshopify.com/collections/http-kdm-manager-com" target="top">subscribers</a>!</p>
                <p> <b>{{world.recent_sessions.value}}</b> users have managed campaigns in the last 12 hours.</p>
                <p> <b>{{world.total_users_last_30.value}}</b> users have managed campaigns in the last 30 days.</p>
                <p> <b>{{world.new_users_last_30.value}}</b> new users have registered in the last 30 days.</p>

                <table>
                    <tr><th colspan="2">Per user averages</th></tr>
                    <tr><td>Survivors</td><td class="int_value">{{world.avg_user_survivors.value}}</td></tr>
                    <tr class="zebra"><td>Settlements</td><td>{{world.avg_user_settlements.value}}</td></tr>
                    <tr><td>Avatars</td><td>{{world.avg_user_avatars.value}}</td></tr>
                </table>
            </div> <!-- user stats -->

        </div> <!-- world_detail_div -->

    </div> <!-- dashboard_menu 'World'-->

        <div
            class="dashboard_menu"
        >
            <h2
                class="clickable about_primary dashboard_rollup"
                ng-click="rollUp('aboutDiv');"
                ng-class="{'open': ngRolledUp['aboutDiv'] === false}"
            >
                <span>
                    <font class="kdm_font dashboard_kdm_font">g</font>
                    About
                </span>
                <span
                    class="roll_content_arrow"
                    ng-class="{'open': ngRolledUp['aboutDiv'] === false}"
                >
                    &#x25BC;
                </span>
            </h2>

            <div
                id="aboutDiv"
                class="roll_down_container dashboard_accordion about_secondary rolled_up"
                ng-class="{'rolled_down': ngRolledUp['aboutDiv'] === false}"
            >
                <a href="https://thelaborinvain.com" target="top">
                    <img
                        src="/media/the_labor_in_vain_logo-01.png"
                        class="tlv_about_logo"
                        title="https://kdm-manager.com is developed by The Labor in Vain!"
                        ng-class="{
                            'invert_image': user.user.preferences.night_mode === true,
                        }"
                    />
                </a>

                <p class="title">
                    <b>
                    KD:M Manager! Production release $application_version 
                    (<a href="https://api.kdm-manager.com">KDM API</a> release version
                    {{user.meta.api.version}}).
                    </b>
                </p>

                <hr/>

                <p>
                    Source code <a href="https://github.com/toconnell/kdm-manager" target="top">available on GitHub</a>!
                </p>

                <hr/>

                <p>About:</p>

                <ul>
                    <li>
                        This application, which is called <i>kdm-manager.com</i>,
                        or simply, <i>the Manager</i>, is an interactive campaign
                        management tool for use with <i>
                        <a href="https://shop.kingdomdeath.com" target="top">Monster</a></i>,
                        by <a href="https://kingdomdeath.com" target="top">Kingdom Death</a>.
                    </li>
                    <li>
                        <i>The Manager</i> is published, provisioned and supported
                        by <a href="https://thelaborinvain.com" target="top">The Labor in Vain</a>.
                    </li>
                </ul>

                <p>Important Information:</p>
                <ul>
                    <li><b>This application is not developed, maintained,
                    authorized or in any other way supported by or affiliated
                    with <a href="https://kingdomdeath.com" target="top">
                    Kingdom Death</a>.</b></li>
                    </li>
                    <li>Users' email addresses and other information are used
                    only for the purposes of developing and maintaining this
                    application and are never shared, published or distributed.
                    </li>
                </ul>

                <p>Release Information:</p>
                <ul>
                    <li>Release <b>$application_version</b> of the Manager went into
                    production on {{latest_blog_post.published|date:'EEEE, yyyy-MM-dd'}}.
                    <a target="top" href="{{latest_blog_post.url}}">
                    View change log</a>.
                    </li>
                    <li>Release 1.7.0, the first production release of the
                    Manager, went live over $application_age_rough_years years
                    ago on 2015-11-29!
                    </li>
                    <li>For detailed release information, including complete
                    notes and updates for each production release, please
                    check the development blog at
                    <a href="http://blog.kdm-manager.com" target="top">
                    blog.kdm-manager.com</a>.
                    </li>
                </ul>

                <hr/>

                <p>Thanks for using the Manager!</p>

            </div> <!-- about_div -->

        </div> <!-- dashboard_menu 'About' -->


        <!--

            version 2.0 of the dashboard alerts concept

        -->
        <span
            ng-init="
                getNotifications();
                scratch.notifications = [];
            "
        >
        </span>
        <!-- dashboard alerts-->
        <div
            title="{{scratch.notifications.length}} new alert(s)!"
            ng-init="parseNotifications()"
            ng-if="
                user.user.preferences.show_dashboard_alerts &&
                scratch.notifications.length > 0
            "
            class="ng_fade font_large clickable dashboard_alerts_clicker"
            ng-class="{
                'kd_blue': scratch.kpi_notifications < 1,
                'kd_pink': scratch.kpi_notifications > 0,
            }"
            ng-click="ngShow('dashboardAlertsViewer')"
        >
            {{scratch.notifications.length}}
        </div>
        <!-- dashboard alerts-->

    </div> <!-- dashboardControlElement -->


<div
    id="dashboardLoader"
    class="metrophobic settlements_retrieved"
    ng-if="scratch.settlementsRetrieved != scratch.settlementsRequired"
>
    <span ng-if="user == undefined">
        Retrieving user data...
    </span>
    <span ng-if="scratch.settlementsRequired != undefined">
        Retrieving settlement {{scratch.settlementsRetrieved}} / {{scratch.settlementsRequired}}
    </span>
    <div class="corner_loading_spinner visible">
        <img class="corner_loading_spinner" src="/media/loading_io.gif">
    </div>
</div>


<!-- dashboard alerts -->
<div
    id="dashboardAlertsViewer"
    class="modal-black hidden"
    ng-if="ngVisible['dashboardAlertsViewer']"
    ng-click="ngHide('dashboardAlertsViewer')"
>
    <div
        class="kd_sheet_ui_outer_ring_container"
    >
        <div
            class="kd_sheet_ui_inner_ring_container"
            ng-click="$event.stopPropagation()"
        >
            <h3 class="kd_title">Notifications</h3>

            <div
                class="dashboard_alerts_container"
                ng-repeat="alert_type in ['kpi', 'announcement']"
            >
                <div
                    class="font_medium dashboard_alerts_alert_repeater"
                    ng-if="alert.sub_type === alert_type"
                    ng-repeat="alert in scratch.notifications"
                >
                    <div
                        class="kd_sheet_ui_box checked"
                        ng-click="ngShowHide('alertID' + alert._id.$oid)"
                        ng-class="{
                            'kd_red_box': alert.sub_type === 'kpi',
                        }"
                    >
                    </div>
                    <b
                        ng-click="ngShowHide('alertID' + alert._id.$oid)"
                        ng-class="{
                            'kd_red_text': alert.sub_type === 'kpi',
                        }"
                    >
                        {{alert.created_on.$date|date:'yyyy-MM-dd'}}: {{alert.title}}
                    </b>
                    <p
                        ng-bind-html="alert.body|trustedHTML"
                    ></p>
                    <div
                        ng-if="ngVisible['alertID' + alert._id.$oid]"
                        class="dashboard_alerts_alert_footer"
                    >
                        <span class="font_small">
                            API v{{alert.release}} | 
                            created: {{alert.created_on.$date|date:'EEEE, yyyy-MM-dd HH:mm'}} |
                        </font>
                    </div>
                </div>
            </div><!-- alerts_container repeater -->
        </div><!-- inner_ring -->
    </div><!-- outer_ring -->

    <button
        class="clickable kd_kickstarter_button floating_close_modal_button"
        ng-click="ngHide('dashboardAlertsViewer')"
    >
        Close
    </button>
</div>
<!-- dashboard alerts -->

<script type="text/javascript">
    // Hack City!
    // kill the spinner, since we're done loading the page now.
    hideFullPageLoader();
</script>


