<!-- BEGIN ngDebugWindow -->
<div
    id="ngDebugWindow"
    class="hidden"
>
    user: {{user_login}}<br/>
    session: {{current_session}}

    <hr/>

    <ul>
        <li
            ng-if="settlement === undefined"
        >
            <i>waiting for settlement...</i>
        </li>

        <li
            ng-if="settlement !== undefined"
        >
            <a
                href=""
                ng-click="dumpJSONtoTab(settlement)"
            >
                settlement JSON
            </a>
        </li>

        <li
            ng-if="survivor !== undefined"
        >
            <a
                href=""
                ng-click="dumpJSONtoTab(survivor)"
            >
                survivor JSON
            </a>
        </li>

        <li
            ng-if="survivor !== undefined && lineage.events === undefined"
        >
            <i>waiting for survivior events...</i>
        </li>

        <li
            ng-if="lineage !== undefined"
        >
            <a
                href=""
                ng-click="dumpJSONtoTab(lineage)"
            >
                get_lineage JSON
            </a>
        </li>
    </ul>

    <hr/>
    <div
        ng-if="settlement"
        ng-repeat="(objectName, objectLoc) in {
            'ngRolledUp': ngRolledUp,
            'ngVisible': ngVisible,
            'ngCapsuleAlert': ngCapsuleAlert
        }"
    >
        {{ objectName }}:
        <table>
            <tr ng-repeat="(key, value) in objectLoc">
                <td>{{key}}</td>
                <td>{{value}}</td>
            </tr>
        </table>
        <hr/>
    </div>

    <button
        ng-click="showFullPageLoader();"
    >
        showFullPageLoader()
    </button>
    <button
        ng-click="hideFullPageLoader();"
    >
        hideFullPageLoader()
    </button>
    <div
        ng-repeat="alertType in ['Saved', 'Error']"
    >
        <button
            ng-if="!ngVisible['capsuleAlertFlasher']"
            ng-click="flashCapsuleAlert(alertType, true);"
        >
            Show "{{alertType}}" alert
        <button
            ng-click="flashCapsuleAlert(alertType)"
        >
            Flash "{{alertType}}" alert
        </button>
    </div>
    <button
        ng-if="ngVisible['capsuleAlertFlasher']"
        ng-click="ngHide('capsuleAlertFlasher', true);"
    >
        Hide capsule flasher
    </button>

</div>
<!-- END ngDebugWindow -->
