<div
    id="modalExpansionsManager"
    class="modal-black hidden"
    ng-controller="updateExpansionsController"
>

  <!-- Modal content -->
    <div class="kd_sheet_ui_outer_ring_container">

        <div class="kd_sheet_ui_inner_ring_container expansion_content_manager">
            <h3>Expansions!</h3>

            <div
                class="expansions_controls_container"
                ng-init="addNewSettlementsToScope('$api_url')"
                ng-if="settlement.sheet != undefined && settlement.game_assets != undefined"
            >

                <p class="kd_sheet_ui_row_tip" ng-if="user.user.preferences.show_ui_tips">
                    Use the controls below to determine which expansion content
                    is enabled for the <b>{{settlement.sheet.name}}</b> campaign.
                    Use the button below save and reload when finished!
                </p>
                <p class="kd_sheet_ui_row_tip" ng-if="user.user.preferences.show_ui_tips">
                    Items in <font class="special_showdown">red text</font> are
                    required by the campaign and may not be removed!
                </p>

                <div
                    class="ng_fade"
                    ng-repeat="category in ['KD Collection', 'Quarry','Nemesis','Enhancement']"
                >

                    <h4 class="expansion_category_header">{{category}}</h4>

                    <div
                        class="clickable expansion_toggle_container"
                        ng-repeat="x in new_settlement_assets.expansions"
                        ng-if="x.ui.pretty_category == category"
                        ng-class="{
                            enabled: settlement.sheet.expansions.indexOf(x.handle) != -1,
                            mandatory_expansion: x.mandatory === true,
                        }"
                        ng-init="x.mandatory = false"
                        ng-click="toggleExpansion(x.handle, settlement.sheet.expansions.indexOf(x.handle))"
                    >
                        <span
                            ng-if="settlement.game_assets.campaign.settlement_sheet_init.expansions != undefined"
                            ng-init="
                                x.mandatory = settlement.game_assets.campaign.settlement_sheet_init.expansions.indexOf(x.handle) != -1;
                        "
                        ></span>
                        <div
                            class="kd_sheet_ui_box"
                            ng-class="{
                                checked: settlement.sheet.expansions.indexOf(x.handle) != -1,
                            }"
                        ></div>
                            {{x.name}}
                        <div
                            class="expansion_toggle_subtitle"
                            ng-if="x.subtitle != undefined"
                            ng-bind-html="x.subtitle|trustedHTML"
                        >
                        </div>

                    </div> <!-- toggle container -->

                </div><!-- category -->

                <!-- regular close; no mods -->
                <button
                    ng-if="scratch.expansions_updated === false"
                    onClick="showHide('modalExpansionsManager')"
                >
                    Close
                </button>

                <!-- close and reload; mods flag set to bool true -->

                <form
                    method="POST"
                    action="/"
                    class="expansion_management_form"
                >

                    <p
                        class="kd_sheet_ui_row_tip"
                        ng-if="
                            scratch.expansion_removed &&
                            user.user.preferences.show_ui_tips
                        "
                    >
                        <b>Warning!</b> Unselecting expansion content after you
                        have added that expansion's game assets (Fighting Arts, Disorders,
                        Story Events, etc.) to your campaign <b>will</b> cause
                        errors and other issues in the Manager.
                    </p>

                    <button
                        class="save_expansions"
                        onclick="showHide('modalExpansionsManager'); showFullPageLoader()"
                        ng-if="scratch.expansions_updated"
                        ng-class="{
                            kd_blue: scratch.expansion_removed === undefined,
                            kd_pink: scratch.expansion_removed,
                        }"
                    >
                        Reload Settlement
                    </button>

                </form>




    
            </div> <!-- controlscontainer -->
        </div> <!-- inner ring -->
    </div> <!-- outer ring -->
</div> <!-- parent modal -->
