<div
    id="departingSurvivorsModalContent"
    class="hidden modal-black departing_survivors_modal_container"
    ng-controller="manageDepartingSurvivorsController"
    ng-if="
        view === 'campaignSummary' && ngVisible['departingSurvivorsModalContent']
    "
>

    <!-- 

        0.) set the showdown_type attrib on the settlement 

    -->

    <div
        class="showdown_type showdown_controls_box_outline"
    >

        <!-- set the state -->
        <span
            ng-if="settlement.sheet.showdown_type !== undefined"
            ng-init="rollUp('showdownOptions')"
        ></span>

        <h3
            class="clickable"
            ng-click="rollUp('showdownOptions')"
        >
            Set Showdown Type
            <span
                class="roll_content_arrow"
                ng-class="{'open': ngRolledUp['showdownOptions'] === false}"
            >
                &#x25BC;
            </span>
        </h3>

        <div
            id="showdownOptions"
            class="roll_down_container"
            ng-class="{'rolled_down': ngRolledUp['showdownOptions'] === false}"
        >
            <div
                ng-repeat="option in scratch.showdown_type_options"
                class="showdown_controls_button_box_option_repeater clickable"
                ng-click="setShowdownType(option.value);"
            >
                <div
                   class="kd_sheet_ui_box"
                   ng-class="{checked: settlement.sheet.showdown_type == option.value}"
                ></div>
                {{option.name}}
            </div> <!-- showdown type option repeater -->

            <div
                class="showdown_controls_button_box_option_repeater unset clickable"
                ng-click="settlement.sheet.showdown_type = undefined"
            >
                <div
                   class="kd_sheet_ui_box"
                   ng-class="{checked: settlement.sheet.showdown_type == undefined}"
                >
                </div>
                Unset
            </div> <!-- unset showdown type -->

        </div>

    </div> <!-- showdown type box -->


    <!--

        1.) survival bonuses

    -->

    <div
        class="survival_bonus showdown_controls_box_outline"
        ng-if="
            settlement.sheet.showdown_type != undefined &&
            user.user.preferences.beta == true
        "
        ng-init="rollUp('survivalBonuses')"
    >

        <h3
            class="clickable"
            ng-click="rollUp('survivalBonuses')"
        >
            &beta; Survival Bonuses
            <span
                class="roll_content_arrow"
                ng-class="{'open': ngRolledUp['survivalBonuses'] === false}"
            >
                &#x25BC;
            </span>
        </h3>

        <div
            id="survivalBonuses"
            class="roll_down_container"
            ng-init="calculateDepartingSurvivorBonus()"
        >
            <div
                class="departing_survivor_survival_bonus_repeater showdown_controls_button_box_option_repeater"
                ng-repeat="innovation in settlement.sheet.innovations"
                ng-init="i_dict = settlement.game_assets.innovations[innovation]"
            >
                <span
                    class="departing_survivors_innovation_desc"
                    ng-if="i_dict.hasOwnProperty('departing_survival_bonus')"
                >

                    <div class="kd_sheet_ui_box checked"></div>
                    <b class="innovation_name"> {{i_dict.name}}</b><br/>
                    <span class="metrophobic" ng-bind-html="i_dict.desc|trustedHTML"></span>
                </span>
            </div>
            <div
                class="showdown_controls_button_box_option_repeater"
            >
                <b>Total bonus:</b> <span class="metrophobic">+{{scratch.departing_survival_bonus}} survival</span>
            </div>
        </div>
    </div> <!-- Departing survival bonuses -->


    <!--

        2.) set the current_quarry for the settlement 

    -->

    <div
        class="ng_fade showdown_current_quarry showdown_controls_box_outline"
        ng-if="settlement.sheet.showdown_type !== undefined"
    >
        <!-- set the state -->
        <span
            ng-if="
                settlement.sheet.current_quarry !== undefined &&
                !ngVisible['addCurrentQuarryToTimeline']
            "
            ng-init="rollUp('showdownCurrentQuarrySelector')"
        ></span>

        <h3
            class="clickable"
            ng-click="rollUp('showdownCurrentQuarrySelector')"
        >
            Set Monster
            <span
                class="roll_content_arrow"
                ng-class="{'open': ngRolledUp['showdownCurrentQuarrySelector'] === false}"
            >
                &#x25BC;
            </span>
        </h3>

        <div
            id="showdownCurrentQuarrySelector"
            class="roll_down_container"
        >
            <select
                id="set_departing_survivors_current_quarry"
                class="kd_kickstarter_select"
                ng-init="ngHide('addCurrentQuarryToTimeline')"
                ng-model="settlement.sheet.current_quarry"
                ng-change="
                    saveCurrentQuarry();
                    ngShowHide('addCurrentQuarryToTimeline')
                "
                ng-options="d for d in settlement.game_assets.defeated_monsters"
            >
                <option disabled selected value="">Choose Monster</option>
            </select>

            <button
                id="addCurrentQuarryToTimeline"
                ng-if="ngVisible['addCurrentQuarryToTimeline']"
                class="kd_kickstarter_button"
                ng-class="{
                    kd_red: settlement.sheet.showdown_type == 'special',
                    kd_blue: settlement.sheet.showdown_type == 'normal',
                    kd_pink: settlement.sheet.showdown_type == 'nemesis'
                }"
                ng-click="
                    addCurrentQuarryToTimeline();
                "
            >
                Add {{settlement.sheet.current_quarry}} to Lantern Year {{settlement.sheet.lantern_year}} Timeline
            </button>

        </div><!-- current_quarry controls -->
    </div> <!-- current quarry stuff -->


    <!--

        4.) operate on departing survivors

    -->
 

    <div
        class="
            ng_fade
            departing_survivors_controls_container
            showdown_controls_box_outline
        "
        ng-if="
            settlement.sheet.current_quarry !== undefined &&
            settlement.sheet.showdown_type !== undefined
        "
    >

        <!-- set the state; this one always starts out closed -->
        <span
            ng-init="rollUp('updateDepartingSurvivors')"
        ></span>

        <h3
            class="clickable"
            ng-click="rollUp('updateDepartingSurvivors')"
        >
            Manage Departing Survivors
            <span
                class="roll_content_arrow"
                ng-class="{'open': ngRolledUp['updateDepartingSurvivors'] === false}"
            >
                &#x25BC;
            </span>
        </h3>

        <div
            id="updateDepartingSurvivors"
            class="roll_down_container"
            ng-init="scratch.hideDepartingSurvivorsControls = false"
        >

            <p 
                class="kd_sheet_ui_row_tip"
                ng-if="user.user.preferences.show_ui_tips"
            >
                Use the controls below to modify all <b>living</b> survivors in
                the <b>Departing Survivors</b> group.
            </p>

            <div
                class="ng_fade applying_update_spinner"
                ng-if="scratch.hideDepartingSurvivorsControls"
            >
                <img src="/media/loading_lantern.gif" />
                Applying update to departing survivors...
            </div>

            <div
                class="showdown_manage_departing_survivors_controls"
            >

                <div
                    class="departing_survivors_control"
                    ng-repeat="attr in ['survival', 'Insanity', 'Courage', 'Understanding', 'hunt_xp']"
                >
                    <div class="label_div">{{toTitle(attr)}}</div>
                    <div
                        class="ng_fade button_div"
                    >
                        <button
                            ng-click="updateDepartingSurvivors(attr, +1)"
                        > +1
                        </button>
                        <button
                            ng-click="updateDepartingSurvivors(attr, -1)"
                        > -1
                        </button>
                    </div> <!-- button div -->
                </div> <!-- departing_survivors_control Survival -->

                <div class="departing_survivors_control">
                    <div class="label_div">Brain Event Damage</div>
                    <div class="ng_fade button_div">
                        <button
                            ng-click="updateDepartingSurvivors('brain_event_damage', 1)"
                            class="maroon_text"
                        > 1
                        </button>
                    </div> <!-- button div -->
                </div> <!-- departing_survivors_control brain event damage -->

            </div> <!-- manage departing survivors controls -->

        </div><!-- roll down container -->

    </div> <!-- manage departing survivors control outline box thinger -->

    <!--

        5.) Return Departing Survivors

    -->

    <div
        ng-if="
            settlement.sheet.showdown_type != undefined &&
            settlement.sheet.current_quarry != undefined
        "
        class="ng_fade showdown_controls_box_outline"
        ng-init="rollUp('returnHealDepartingSurvivors')"
    >

        <h3
            class="clickable"
            ng-click="rollUp('returnHealDepartingSurvivors')"
        >
            <span ng-if="settlement.sheet.showdown_type != 'special'">Return</span>
            <span ng-if="settlement.sheet.showdown_type == 'special'">Heal</span>
            Departing Survivors
            <span
                class="roll_content_arrow"
                ng-class="{'open': ngRolledUp['returnHealDepartingSurvivors'] === false}"
            >
                &#x25BC;
            </span>

        </h3>

        <div
            id="returnHealDepartingSurvivors"
            class="roll_down_container"
        >

            <!-- help text for normal showdowns -->
            <div ng-if="settlement.sheet.showdown_type != 'special'" class="return_departing_survivors">
                <p>
                    Use the buttons below to return <b>Departing Survivors</b> to
                    <b>{{settlement.sheet.name}}</b>. If you do, the Manager will
                    automatically perform all of the following actions:
                </p>
                <ul class="kd_boxes">
                    <li>Mark living survivors as <b>Returning Survivors</b>.</li>
                    <li>Remove armor points from all survivors.</li>
                    <li>Remove attribute modifiers (tokens/gear) and damage from
                        all survivors.</li>
                    <li>Automatically update Settlement <b>Endeavor Tokens</b>,
                        adding one for each living survivor returned.
                    </li>
                </ul>
                <p>
                    You may also check the box below to automatically increment
                    the Lantern Year when returning departing survivors:
                </p>

            </div>
            <div
                class="showdown_controls_button_box_option_repeater end_current_ly_box clickable"
                ng-class="{
                    button_shadow: scratch.increment_ly_on_return != true,
                    kd_lantern: scratch.increment_ly_on_return == true 
                }"
                ng-click="toggleIncrementLY()"
                ng-if="settlement.sheet.showdown_type != 'special'"
            >
                <div
                    class="kd_sheet_ui_box"
                    ng-class="{checked: scratch.increment_ly_on_return == true}"
                ></div>
                End Lantern Year {{settlement.sheet.lantern_year}} on return
            </div>
            <!-- normal/nemesis return stuff -->

            <!-- special showdown explanation -->
            <div ng-if="settlement.sheet.showdown_type == 'special'" class="return_departing_survivors">
                <p>
                    Use the buttons below to heal <b>Departing</b> Survivors and
                    remove them from the <b>Departing Survivors</b> group.
                </p>
                <p>
                    Healing survivors automatically removes armor points,
                    attribute modifiers (tokens/gear) and damage.
                </p>
            </div>


            <!-- return options -->
            <div 
                class="return_departing_survivors"
                ng-if="settlement.sheet.current_quarry != undefined"
            >
                <p>
                    If you click or tap "Victorious!" when returning survivors,
                    <b>{{settlement.sheet.current_quarry}}</b> will be automatically
                    added to the settlement's Defeated Monsters list.
                </p>
            </div>

            <button
                class="kd_kickstarter_button kd_blue"
                ng-click="returnDepartingSurvivors('victory')"
                onclick="showHide('departingSurvivorsModalContent')"
            >
                Victorious!
            </button>
            <button
                class="kd_kickstarter_button kd_pink"
                ng-click="returnDepartingSurvivors('defeat')"
                onclick="showHide('departingSurvivorsModalContent')"
            >
                Defeated...
            </button>


        </div> <!-- return control options -->

    </div> <!-- end of the return controls -->

    <button
        class="floating_close_modal_button kd_kickstarter_button"
        ng-click="ngHide('departingSurvivorsModalContent')"
    >
        Close
    </button>

</div> <!-- modalDepartingSurvivors whole deal-->
