<div
    id="departingSurvivorsModalContent"
    class="hidden modal-black departing_survivors_modal_container"
    ng-controller="manageDepartingSurvivorsController"
    ng-if="view == 'campaignSummary'"
>

    <!-- 

        0.) set the showdown_type attrib on the settlement 

    -->

    <div
        class="showdown_type showdown_controls_box_outline"
    >

        <span ng-if="settlement.sheet != undefined" ng-init="initShowdownControls()"></span>

        <h3
            class="clickable"
            ng-click="toggleControlState('showdown_type_control_state');"
        >
            Set Showdown Type
            <span class="showdown_arrow" ng-if="scratch.showdown_type_control_state == 'hidden'">
                &#x25BC;
            </span>
            <span class="showdown_arrow" ng-if="scratch.showdown_type_control_state == 'visible'">
                &#x25B2;
            </span>
        </h3>

        <div
            id="showdownOptions"
            class="showdown_controls_button_box showdown_type_options ng_fade"
            ng-class="scratch.showdown_type_control_state"
        >
            <div
                ng-repeat="option in scratch.showdown_type_options"
                class="showdown_controls_button_box_option_repeater clickable"
                ng-click="setShowdownType(option.value);"
            >
                <div
                   class="kd_sheet_ui_box"
                   ng-class="{checked: settlement.sheet.showdown_type == option.value}"
                ></div>
                {{option.name}}
            </div> <!-- showdown type option repeater -->

            <div
                class="showdown_controls_button_box_option_repeater clickable"
                ng-click="settlement.sheet.showdown_type = undefined"
            >
                <div
                   class="kd_sheet_ui_box"
                   ng-class="{checked: settlement.sheet.showdown_type == undefined}"
                ></div>
                <i>Unset</i>
            </div> <!-- unset showdown type -->

        </div>
    </div> <!-- showdown type box -->

    <div
        class="survival_bonus showdown_controls_box_outline"
        ng-if="
            settlement.sheet.showdown_type != undefined &&
            user.user.preferences.beta == true
        "
    >

        <h3
            class="clickable"
            ng-click="toggleControlState('survival_bonus_control_state');"
        >
            &beta; Survival Bonuses
            <span class="showdown_arrow" ng-if="scratch.survival_bonus_control_state == 'hidden'">
                &#x25BC;
            </span>
            <span class="showdown_arrow" ng-if="scratch.survival_bonus_control_state == 'visible'">
                &#x25B2;
            </span>
        </h3>

        <div
            id="survivalBonuses"
            class="showdown_controls_button_box showdown_type_options ng_fade"
            ng-class="scratch.survival_bonus_control_state"
            ng-init="calculateDepartingSurvivorBonus()"
        >
            <div
                class="departing_survivor_survival_bonus_repeater showdown_controls_button_box_option_repeater"
                ng-repeat="innovation in settlement.sheet.innovations"
                ng-init="i_dict = settlement.game_assets.innovations[innovation]"
            >
                <span
                    class="departing_survivors_innovation_desc"
                    ng-if="i_dict.hasOwnProperty('departing_survival_bonus')"
                >

                    <div class="kd_sheet_ui_box checked"></div>
                    <b class="innovation_name"> {{i_dict.name}}</b><br/>
                    <span class="metrophobic" ng-bind-html="i_dict.desc|trustedHTML"></span>
                </span>
            </div>
            <div
                class="showdown_controls_button_box_option_repeater"
            >
                <b>Total bonus:</b> <span class="metrophobic">+{{scratch.departing_survival_bonus}} survival</span>
            </div>
        </div>
    </div> <!-- Departing survival bonuses -->


    <!--

        1.) set the current_quarry for the settlement 

    -->

    <div
        class="ng_fade showdown_current_quarry showdown_controls_box_outline"
        ng-if="settlement.sheet.showdown_type != undefined"
    >
        <h3
            class="clickable"
            ng-click="toggleControlState('showdown_current_quarry_control_state');"
        >
            Set Monster
            <span class="showdown_arrow" ng-if="scratch.showdown_current_quarry_control_state == 'hidden'">
                &#x25BC;
            </span>
            <span class="showdown_arrow" ng-if="scratch.showdown_current_quarry_control_state == 'visible'">
                &#x25B2;
            </span>
        </h3>

        <div
            class="showdown_controls_button_box"
            ng-class="scratch.showdown_current_quarry_control_state"
        >
            <select
                id="set_departing_survivors_current_quarry"
                class="kd_kickstarter_select"
                ng-model="settlement.sheet.current_quarry"
                ng-change="
                    saveCurrentQuarry();
                    showHide('addCurrentQuarryToTimeline', 'show')
                "
                ng-options="d for d in settlement.game_assets.defeated_monsters"
            >
                <option disabled selected value="">Choose Monster</option>
            </select>

            <button
                id="addCurrentQuarryToTimeline"
                class="kd_kickstarter_button hidden"
                ng-class="{
                    kd_red: settlement.sheet.showdown_type == 'special',
                    kd_blue: settlement.sheet.showdown_type == 'normal',
                    kd_pink: settlement.sheet.showdown_type == 'nemesis'
                }"
                ng-click="
                    addCurrentQuarryToTimeline();
                "
            >
                Add {{settlement.sheet.current_quarry}} to Lantern Year {{settlement.sheet.lantern_year}} Timeline
            </button>

        </div><!-- current_quarry controls -->
    </div> <!-- current quarry stuff -->


    <!--

        2.) operate on departing survivors

    -->
 

    <div
        class="ng_fade departing_survivors_controls_container showdown_controls_box_outline"
        ng-if="settlement.sheet.current_quarry != undefined && settlement.sheet.showdown_type != undefined"
    >

        <h3
            class="ng_fade clickable"
            ng-click="toggleControlState('showdown_manage_departing_survivors_control_state');"
        >
            Manage Departing Survivors
            <span class="showdown_arrow" ng-if="scratch.showdown_manage_departing_survivors_control_state == 'hidden'">
                &#x25BC;
            </span>
            <span class="showdown_arrow" ng-if="scratch.showdown_manage_departing_survivors_control_state == 'visible'">
                &#x25B2;
            </span>
        </h3>

        <p 
            class="kd_sheet_ui_row_tip"
            ng-if="user.user.preferences.show_ui_tips"
            ng-class="scratch.showdown_manage_departing_survivors_control_state"
        >
            Use the controls below to modify all <b>living</b> survivors in
            the <b>Departing Survivors</b> group.
        </p>

        <div
            class="ng_fade applying_update_spinner"
            ng-if="hideControls==true"
        >
            <img src="/media/loading_lantern.gif" />
            Applying update to departing survivors...
        </div>

        <div
            class="ng_fade_in showdown_manage_departing_survivors_controls"
            ng-class="scratch.showdown_manage_departing_survivors_control_state"
            ng-if="hideControls==false"
        >


            <div class="departing_survivors_control" ng-if="settlement.sheet.showdown_type != undefined">
                <div class="label_div">Survival</div>
                <div class="button_div">
                    <button
                        ng-click="updateDepartingSurvivors('survival', +1)"
                    > +1
                    </button>
                    <button
                        ng-click="updateDepartingSurvivors('survival', -1)"
                    > -1
                    </button>
                </div> <!-- button div -->
            </div> <!-- departing_survivors_control Survival -->

            <div class="departing_survivors_control">
                <div class="label_div">Insanity</div>
                <div class="button_div">
                    <button
                        ng-click="updateDepartingSurvivors('Insanity', +1)"
                    > +1
                    </button>
                    <button
                        ng-click="updateDepartingSurvivors('Insanity', -1)"
                    > -1
                    </button>
                </div> <!-- button div -->
            </div> <!-- departing_survivors_control Insanity -->

        <div class="departing_survivors_control">
            <div class="label_div">Courage</div>
            <div class="button_div" ng-if="hideControls==false">
                <button
                    ng-click="updateDepartingSurvivors('Courage', +1)"
                > +1
                </button>
                <button
                    ng-click="updateDepartingSurvivors('Courage', -1)"
                > -1
                </button>
            </div> <!-- button div -->
        </div> <!-- departing_survivors_control Insanity -->

        <div class="departing_survivors_control">
            <div class="label_div">Understanding</div>
            <div class="button_div" ng-if="hideControls==false">
                <button
                    ng-click="updateDepartingSurvivors('Understanding', +1)"
                > +1
                </button>
                <button
                    ng-click="updateDepartingSurvivors('Understanding', -1)"
                > -1
                </button>
            </div> <!-- button div -->
        </div> <!-- departing_survivors_control Understanding -->

        <div class="departing_survivors_control">
            <div class="label_div">Hunt XP</div>
            <div class="button_div" ng-if="hideControls==false">
                <button
                    ng-click="updateDepartingSurvivors('hunt_xp', +1)"
                > +1
                </button>
                <button
                    ng-click="updateDepartingSurvivors('hunt_xp', -1)"
                > -1
                </button>
            </div> <!-- button div -->
        </div> <!-- departing_survivors_control Understanding -->

            <div class="departing_survivors_control">
                <div class="label_div">Brain Event Damage</div>
                <div class="button_div" ng-if="hideControls==false">
                    <button
                        ng-click="updateDepartingSurvivors('brain_event_damage', 1)"
                        class="maroon_text"
                    > 1
                    </button>
                </div> <!-- button div -->
            </div> <!-- departing_survivors_control brain event damage -->

        </div> <!-- manage departing survivors controls -->

    </div> <!-- manage departing survivors control outline box thinger -->

    <div
        ng-if="settlement.sheet.showdown_type != undefined && settlement.sheet.current_quarry != undefined"
        class="ng_fade showdown_controls_box_outline"
    >

        <h3
            class="clickable"
            ng-click="toggleControlState('showdown_return_departing_survivors_control_state');"
        >
            <span ng-if="settlement.sheet.showdown_type != 'special'">Return</span>
            <span ng-if="settlement.sheet.showdown_type == 'special'">Heal</span>
            Departing Survivors

            <span class="showdown_arrow" ng-if="scratch.showdown_return_departing_survivors_control_state == 'hidden'">
                &#x25BC;
            </span>
            <span class="showdown_arrow" ng-if="scratch.showdown_return_departing_survivors_control_state == 'visible'">
                &#x25B2;
            </span>
        </h3>

        <div
            class="showdown_return_departing_survivors_controls"
            ng-class="scratch.showdown_return_departing_survivors_control_state"
        >

            <!-- help text for normal showdowns -->
            <div ng-if="settlement.sheet.showdown_type != 'special'" class="return_departing_survivors">
                <p>
                    Use the buttons below to return <b>Departing Survivors</b> to
                    <b>{{settlement.sheet.name}}</b>. If you do, the Manager will
                    automatically perform all of the following actions:
                </p>
                <ul class="kd_boxes">
                    <li>Mark living survivors as <b>Returning Survivors</b>.</li>
                    <li>Remove armor points from all survivors.</li>
                    <li>Remove attribute modifiers (tokens/gear) and damage from
                        all survivors.</li>
                    <li>Automatically update Settlement <b>Endeavor Tokens</b>,
                        adding one for each living survivor returned.
                    </li>
                </ul>
                <p>
                    You may also check the box below to automatically increment
                    the Lantern Year when returning departing survivors:
                </p>

            </div>
            <div
                class="showdown_controls_button_box_option_repeater end_current_ly_box clickable"
                ng-class="{
                    button_shadow: scratch.increment_ly_on_return != true,
                    kd_lantern: scratch.increment_ly_on_return == true 
                }"
                ng-click="toggleIncrementLY()"
                ng-if="settlement.sheet.showdown_type != 'special'"
            >
                <div
                    class="kd_sheet_ui_box"
                    ng-class="{checked: scratch.increment_ly_on_return == true}"
                ></div>
                End Lantern Year {{settlement.sheet.lantern_year}} on return
            </div>
            <!-- normal/nemesis return stuff -->

            <!-- special showdown explanation -->
            <div ng-if="settlement.sheet.showdown_type == 'special'" class="return_departing_survivors">
                <p>
                    Use the buttons below to heal <b>Departing</b> Survivors and
                    remove them from the <b>Departing Survivors</b> group.
                </p>
                <p>
                    Healing survivors automatically removes armor points,
                    attribute modifiers (tokens/gear) and damage.
                </p>
            </div>


            <!-- return options -->
            <div 
                class="return_departing_survivors"
                ng-if="settlement.sheet.current_quarry != undefined"
            >
                <p>
                    If you click or tap "Victorious!" when returning survivors,
                    <b>{{settlement.sheet.current_quarry}}</b> will be automatically
                    added to the settlement's Defeated Monsters list.
                </p>
            </div>

            <button
                class="kd_kickstarter_button kd_blue"
                ng-click="returnDepartingSurvivors('victory')"
                onclick="showHide('departingSurvivorsModalContent')"
            >
                Victorious!
            </button>
            <button
                class="kd_kickstarter_button kd_pink"
                ng-click="returnDepartingSurvivors('defeat')"
                onclick="showHide('departingSurvivorsModalContent')"
            >
                Defeated...
            </button>


        </div> <!-- return control options -->

    <button
        class="floating_close_modal_button kd_kickstarter_button"
        onclick="showHide('departingSurvivorsModalContent')"
    >
        Close
    </button>

    </div> <!-- end of the return controls whole thing -->



</div> <!-- modalDepartingSurvivors whole deal-->



