<button
    id="floating_dashboard_button"
    class="gradient_silver"
    ng-click="openLeftSideNav()"
    ng-if="view != 'dashboard' && user != undefined"
>
    &#9776;
</button>

<div
    id="leftSideNav"
    ng-controller="sideNavController"
    ng-if="user != undefined"
    ng-init="getNewSettlementAssets()"
>

    <!-- return to dashboard -->
    <button
        class="sidenav_top_level"
        ng-click="
            closeLeftSideNav();
            showFullPageLoader();
            postForm('change_view', 'dashboard');
        "
    >
        Return to Dashboard
    </button>

    <!-- new settlement creation; has its own view -->
    <form
        method="POST"
        action=""
        ng-if="view != 'newSettlement'"
    >
        <input type="hidden" name="change_view" value="new_settlement" />
        <button
            class="sidenav_top_level"
            onclick="showFullPageLoader()"
            ng-click="closeLeftSideNav()"
            ng-if="
                user.user.settlements_created < 3 ||
                user.user.subscriber.level > 0
            "
        >
            + Create New Settlement
        </button>
    </form>


    <hr ng-if="view != 'newSettlement'"/>

    <h3 ng-if="settlement.sheet != undefined"
        >{{settlement.sheet.name}}
    </h3>

    <center ng-if="settlement.sheet == undefined && view != 'newSettlement'">
        <img src="/media/loading_lantern.gif" />
    </center>


    <button
        id="newSurvivorButton"
        class="visible"
        ng-if="settlement.sheet !== undefined"
        ng-click="
            ngShow('modalNewSurvivorContainer');
            closeLeftSideNav();
        "
    >
        + Create New Survivor
    </button>

    <button
        id="bulkAddOpenerButton"
        ng-if="settlement.sheet !== undefined"
        ng-click="
            showHide('modalBulkAdd');
            closeLeftSideNav();
        "
        ng-disabled="user.user.subscriber.level < 2"
        ng-class="{'disabled': user.user.subscriber.level < 2}"
        title="Create Multiple Survivors (Subscribers only!)"
    >
        + Create Multiple Survivors
    </button>

    <button
        class="visible"
        ng-if="settlement != undefined && view != 'campaignSummary'"
        onclick="showFullPageLoader()"
        ng-click="
            closeLeftSideNav();
            postForm('view_campaign', settlement.sheet._id.$oid)
        "
    >
        Campaign Summary
    </button>

    <button
        ng-if="user_is_settlement_admin && view != 'settlementSheet'"
        class="visible"
        onclick="showFullPageLoader()"
        ng-click="
            closeLeftSideNav();
            postForm('view_settlement', settlement.sheet._id.$oid);
        "
    >
        Settlement Sheet
    </button>

    <button
        id="modalExpansionsOpener"
        ng-if="user_is_settlement_admin && new_settlement_assets != undefined"
        class="visible"
        ng-click="
            showHide('modalExpansionsManager');
            closeLeftSideNav();
        "
    >
        Expansion Content
    </button>

    <button
        id="timelineOpenerButton"
        class="hidden"
        ng-click="
            showHide('modalTimelineContainer');
            closeLeftSideNav();
        "
    >
        Timeline
    </button>

    <button
        id="eventLogOpenerButton"
        class="hidden"
        ng-click="
            ngShowHide('eventLogContainer');
            closeLeftSideNav();
        "
    >
        Event Log
    </button>

    <button
        id="settlementNotesOpenerButton"
        class="hidden"
        ng-click="
            showHide('settlementNotesContainer');
            closeLeftSideNav();
        "
        >
        Notes and Players
    </button>

    <button
        id="gearLookupOpenerButton"
        ng-if="view !== 'newSettlement'"
        ng-click="
            ngShowHide('gearLookupModal');
            closeLeftSideNav();
        "
        ng-disabled="user.user.subscriber.level < 2"
        ng-class="{'disabled': user.user.subscriber.level < 2}"
        title="Gear Card Lookup (Subscribers only!)"
    >
        Gear Card Lookup
    </button>


    <!-- list departing survivors, formerly known as the survivor quick menu -->
    <h3
        ng-if="countSurvivors('departing') > 0"
    >
        Departing Survivors
    </h3>

    <form
        method="POST"
        action="/"
        ng-repeat="s in settlement.user_assets.survivors | filter: departingFilter"
    >
        <input type="hidden" name="view_survivor" value="{{s.sheet._id.$oid}}" />
        <button
            ng-click="closeLeftSideNav()"
            onclick="showFullPageLoader();"
        >
            {{s.sheet.name}} ({{s.sheet.effective_sex}})
        </button>
    </form>

    <!-- list FAVORITE survivors, not the quick menu-->
    <h3 ng-if="countSurvivors('favorite') > 0">Favorites</h3>
    <form
        method="POST"
        action="/"
        ng-repeat="s in settlement.user_assets.survivors | filter: favoriteFilter"
    >
        <input type="hidden" name="view_survivor" value="{{s.sheet._id.$oid}}" />
        <button
            ng-click="closeLeftSideNav()"
            onclick="showFullPageLoader();"
        >
            {{s.sheet.name}} ({{s.sheet.effective_sex}})
        </button>
    </form>


    <hr/>


    <button
        ng-click="showHide('helpModal'); closeLeftSideNav()"
    >
        Help!
    </button>

    <button
        id="reportErrorButton"
        ng-click="
            ngShowHide('modalReportError');
            closeLeftSideNav()
        "
    >
        Report an Issue or Error
    </button>

    <hr/>

    <button
        id="leftSideNavUserSignOut"
        onclick="showFullPageLoader()"
        ng-click="
            closeLeftSideNav();
            signOut();
        "
    >
        {{user.user.login}}<br/>
        SIGN OUT
    </button>

</div> <!-- #leftSideNav -->
    
<!-- #leftSideNavUnderlay underlay starts here -->
<div
    id="leftSideNavUnderlay"
    ng-click="closeLeftSideNav()"
>
    <div
        ng-if="scratch.left_side_nav_open"
        class="left_side_underlay_button close clickable ng_fade"
        title="Close left side navigation!"
    >
        &#x274C;
    </div>
    <div
        class="left_side_underlay_footer_container"
    >   <div class="underlay_footer_element">KDM-M</div>
        <div class="underlay_footer_element">v$application_version</div>
    </div>

</div> <!-- left_Side_nav_inactive_area -->

