<div
    id="modalReportError"
    class="modal hidden"
    ng-click="ngHide('modalReportError')"
    ng-if="ngVisible['modalReportError']"
>
    <div
        class="modal-content report_error gear_card_gradient"
        ng-click="$event.stopPropagation()"
    >

        <div
            class="clickable corner_close_modal"
            ng-click="ngHide('modalReportError')"
        >
        </div>

        <div class="report_error_container">
            <h3 class="kd_title">Report a Problem</h3>
            <p>https://kdm-manager.com is a work in progress and is under
            active development!</p>
            <p>If you identify an issue with the application, whether a typo,
            a presentation problem or something more disruptive, reporting it
            here helps all other users!</p>
            <div class="report_error_form_container">
                <form
                    method="POST"
                    action="/"
                    class="report_error_form"
                >
                    <input type="hidden" name="error_report" value="from_web">
                    <textarea
                        class="font_medium"
                        name="body"
                        placeholder="Describe your issue here!"
                    ></textarea>
                    <input
                        type="submit"
                        class="kd_kickstarter_button kd_pink"
                        value="submit"
                        onClick="showFullPageLoader()"
                    />
                </form>
            </div>
        </div>
    </div><!-- modal-content -->
</div> <!-- modalReportError -->

