<div
    id="modalReportError"
    class="modal hidden"
>
    <div class="modal-content gear_card_gradient">

        <span
            class="closeModal"
            onclick="showHide('modalReportError')"
        >
            ×
        </span>

        <div class="report_error_container">
            <h3>Report an Issue or Error</h3>
            <p>https://kdm-manager.com is a work in progress and is under
            active development!</p>
            <p>If you identify an issue with the application, whether a typo,
            a presentation problem or something more disruptive, reporting it
            here helps all other users!</p>
            <div class="error_form">
                <form method="POST" action="/">
                    <input type="hidden" name="error_report" value="from_web">
                    <textarea class="report_error metrophobic" name="body" placeholder="Describe your issue here!"></textarea>
                    <input
                        type="submit"
                        class="kd_kickstarter_button kd_pink"
                        value="submit"
                        ng-click="
                            showFullPageLoader();
                            showHide('modalReportError')
                        "
                    />
                </form>
            </div>
        </div>
    </div><!-- modal-content -->
</div> <!-- modalReportError -->

