<script src="/js/survivorSearch.js?v=$application_version"></script>

<!-- this is the input that works like a button to show the modal -->
<input
    id="survivorSearchModalOpener"
    placeholder="Search Living Survivors"
    ng-controller = "survivorSearchController"
    ng-if="settlement != undefined"
    ng-model="scratch.searchText"
    ng-click="
        ngShow('survivorSearchModalContent');
    "
    class="clickable"
/>


<!-- Search UI modal -->
<div
    id="survivorSearchModalContent"
    class="survivor_search_modal_container modal"
    ng-if="
        ngVisible['survivorSearchModalContent'] &&
        user_login !== undefined &&
        settlement !== undefined
    "
    ng-click="ngShowHide('survivorSearchModalContent')"
    ng-controller = "survivorSearchController"
>

    <div
        class="survivor_search_modal_content survivor_sheet_gradient"
    >
        <div
            ng-repeat="
                s in settlement.user_assets.survivors | filter:scratch.searchText
            "
            ng-if="
                s.sheet.dead === undefined &&
                s.sheet.retired === undefined
            "
            ng-class="{disabled : userCanManage(s.sheet) === false}"
            ng-click="
                postForm('view_survivor', s.sheet._id.$oid);
                showFullPageLoader();
            "
            class="survivor_search_button gear_card_gradient clickable"
        >

            <div class="survivor_search_button_inner">

                <div class="survivor_search_survivor_name_container">
                    <div class="survivor_search_survivor_name">
                        {{s.sheet.name}}
                    </div>
                    <div class="survivor_search_survivor_sex">
                        <div>M</div> <div class="kd_sheet_ui_box" ng-class="{checked: s.sheet.effective_sex == 'M'}"></div>
                        <div>F</div> <div class="kd_sheet_ui_box" ng-class="{checked: s.sheet.effective_sex == 'F'}"></div>
                    </div>
                </div>

                <div class="survivor_search_survivor_assets">
                    <div><b>Hunt XP:</b> {{s.sheet.hunt_xp}}</div>
                    <div><b>Courage:</b> {{s.sheet.Courage}}</div>
                    <div><b>Understanding:</b> {{s.sheet.Understanding }}</div>
                </div>
                
                <div class="survivor_search_survivor_assets">
                    <div
                        ng-repeat="attr in [
                        {short: 'MOV', long: 'Movement'},
                        {short: 'ACC', long: 'Accuracy'},
                        {short: 'STR', long: 'Strength'},
                        {short: 'EVA', long: 'Evasion'},
                        {short: 'LUCK', long: 'Luck'},
                        {short: 'SPD', long: 'Speed'},
                    ]"
                        class="survivor_search_attrib_container {{attr.long}}"
                    >
                        <span>{{s.sheet[attr.long]}}</span>
                        <b>{{attr.short}}</b>
                    </div>
                </div>

                <div
                    ng-repeat="attr in ['tags', 'fighting_arts', 'disorders', 'abilities_and_impairments']"
                    ng-if="s.sheet[attr].length >= 1"
                    class="survivor_search_survivor_assets"
                >
                    <div>
                        <b>{{toTitle(attr)}}:</b> <span ng-repeat="a in s.sheet[attr]">
                            {{settlement.game_assets[attr][a].name}}{{$last ? '' : ', '}}
                        </span>
                    </div>
                </div>

                <div
                    ng-if="s.notes.length >= 1"
                    class="survivor_search_survivor_assets"
                >
                    <div>
                        <b>Notes:</b>
                        <span ng-repeat="n in s.notes">
                            {{n.note}}
                        </span>
                    </div>
                </div>

                <div
                    ng-if="s.sheet.sotf_reroll"
                    class="survivor_search_survivor_assets"
                >
                    <div>
                        <b>Once per lifetime SotF re-roll:</b> used.
                    </div>
                </div>

            </div><!-- survivor_search_button_inner -->

        </div><!-- survivor_search_button repeater -->

        <div
            class="survivor_search_results_warning"
        >
            Dead and retired survivors are not included in these results!
        </div>

    </div> <!-- survivor_search_modal_content -->

    <button
        class="kd_kickstarter_button floating_close_modal_button"
        ng-if="ngVisible['survivorSearchModalContent']"
        ng-click="
            ngHide('survivorSearchModalContent'); 
            scratch.searchText = null;
        "
    />
        Close
    </button>

</div> <!-- survivorSearch -->
