<!doctype html>
<html
    lang="en"
    class="kd"
    ng-app="kdmManager"
    ng-controller="rootScopeController"
    ng-init="init('{{API['url']}}')"
>

    <head>

        <title>https://{{APP_NAME}} - {{APP_TAG}}</title>

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="theme-color" content="#000000">

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-71038485-1', 'auto');
          ga('send', 'pageview');
        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Ruda&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="/static/css/_base.css?v={{VERSION}}">
        <link rel="stylesheet" type="text/css" href="/static/css/tablet.css?v={{VERSION}}">
        <link rel="stylesheet" type="text/css" href="/static/css/laptop.css?v={{VERSION}}">
        <link rel="stylesheet" type="text/css" href="/static/css/desktop.css?v={{VERSION}}">
        <link rel="stylesheet" type="text/css" href="/static/css/color.css?v={{VERSION}}">
        <link rel="stylesheet" type="text/css" href="/static/css/z-index.css?v={{VERSION}}">

        <script src="/static/js/kdmManager.js?v={{VERSION}}"></script>

        <link rel="stylesheet" type="text/css" href="{{API['url']}}kingdomDeath.css?v={{VERSION}}">

        {% block head %}

        {% endblock %}

    </head>

   
    <body>

        {% block body %}

        {% endblock %}

    </body>

</html>
