<!doctype html>
<html
    lang="en"
    class="kd"
    ng-app="kdmManager"
    ng-controller="rootScopeController"
    ng-init="
        init(
            '{{API['url']}}',
            '{{API_KEY}}',
            '{{request.endpoint}}',
            '{{current_user._id}}'
        )
    "
>

    <head>

        <title>{{APP_NAME}} - {{APP_TAG}}</title>

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="Description" content="{{APP_DESC}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="theme-color" content="#000000">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-71038485-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-71038485-1');
        </script>

        <!-- angular imports -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-animate.min.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Ruda&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="/static/css/_base.css?v={{VERSION}}">
        <link rel="stylesheet" type="text/css" href="/static/css/tablet.css?v={{VERSION}}">
        <link rel="stylesheet" type="text/css" href="/static/css/laptop.css?v={{VERSION}}">
        <link rel="stylesheet" type="text/css" href="/static/css/desktop.css?v={{VERSION}}">
        <link rel="stylesheet" type="text/css" href="/static/css/nav.css?v={{VERSION}}">
        <link rel="stylesheet" type="text/css" href="/static/css/color.css?v={{VERSION}}">
        <link rel="stylesheet" type="text/css" href="/static/css/z-index.css?v={{VERSION}}">

        <script src="/static/js/kdmManager.js?v={{VERSION}}"></script>

        <link rel="stylesheet" type="text/css" href="{{API['url']}}kingdomDeath.css?v={{VERSION}}">

        <!-- view-specific head content -->
        {% block head %}
        {% endblock %}

    </head>

    <!-- view-specific body content -->
    {% block body %}
    {% endblock %}

    <!-- additional templates; technically OUTSIDE of the body, but the browser
    should pull them up into the bottom-most bit of the body -->
    {% include 'ui.html' %}
    {% include 'debugger.html' %}

    <!-- nav -->
    {% if VIEW in ['error', 'new_settlement', 'settlement_sheet'] %}
        {% include 'nav.html' %}
    {% endif %}

</html>
