{% extends '_base.html' %}

{% block body %}
<h1>500 - Server Explosion!</h1>
<hr/>

<p>
	The server erupts in a shower of gore, killing your request instantly. All
	other servers are so disturbed that they lose 1 survival.
</p>

<hr/>

<p>
	{{error}}
</p>

<hr/>

<p>
	Please report this error 
	<a href="https://github.com/toconnell/kdm-manager/issues">
		on GitHub</a>.
</p>

<p>
	Copy and paste everything below this line:
</p>

<hr/>
<code>
```

<ul>
	<li>{{request.access_control_request_headers}}</li>
	<li>{{request.access_control_request_method}}</li>
	<li>{{request.url}}</li>
	<li>{{request.get_json()}}</li>
	<li>{{request.cookies}}</li>
</ul>

```
</code>

{% endblock %}
