
<!--

    Timline User Interface Mk. 4

    Notes:
        - $scope.eventTypeIterationOrder is the order in which we display
            different types of events, e.g. in Lantern Year controls
        - Mk. 4 swaps out modal controllers for a roll-down; each LY has a
            roll-down
        - Mk. 4 also moves most of the controls into this HTML, rather than
            calling out to kdmManager.js, so each operation typically has a
            unique postJSONtoAPI() call

-->

<div
    id="timelineControls"
    class="modal hidden"
    ng-if="ngVisible['timelineControls']"
    ng-click="ngHide('timelineControls')"
    ng-init="
        timelineUi = {'rollers': [], };
        eventTypeIterationOrder = [
            'settlement_event',
            'story_event',
            'special_showdown',
            'nemesis_encounter',
            'showdown_event'
        ];
    "
>

    <div class="kd_sheet_ui_outer_ring_container">

        <div
            class="kd_sheet_ui_inner_ring_container timeline_container"
            ng-click="$event.stopPropagation();"
        >

            <h3 class="kd worksheet_page_title">Timeline</h3>

            <div class="timeline_top_line font_small">
                <div>Year</div>
                <div>Story & Special Events</div>
            </div><!-- top_line -->

            <!-- outermost div is a special column container -->
            <div class="timeline_col_container">

                <!-- Lantern Year repeater starts here! -->
                <div
                    class="kd timeline_ly_repeater"
                    ng-repeat="ly in settlement.sheet.timeline"
                    ng-init="
                        rollerControlId = 'ly' + ly.year + 'TimelineControls';
                        timelineUi.rollers.push(rollerControlId);
                        unmodifiedLy = ngCopy(ly);
                    "
                    ng-class="{
                        'active': ngRolledUp[rollerControlId] === false,
                    }"
                >

                    <div
                        class="kd worksheet_row lined clickable"
                        ng-class="{
                            'hover_highlight_forced':
                                ly.year === settlement.sheet.lantern_year &&
                                ngRolledUp[rollerControlId] !== false,
                            'borderless': ngRolledUp[rollerControlId] === false,
                        }"
                        ng-click="ngRoll(rollerControlId, timelineUi.rollers);"
                        title="Tap or click here to edit Lantern Year {a ly.year a}"
                    >

                        <div 
                            class="kd checkbox"
                            ng-class="{
                                checked: settlement.sheet.lantern_year >= ly.year,
                                current_ly: ly.year == settlement.sheet.lantern_year,
                            }"
                        >
                        </div>

                        <div>{a ly.year a}</div>

                        <div
                             class="ly_events"
                        >
                            <span
                                ng-repeat="eventType in eventTypeIterationOrder"
                            >

                                <!-- HACK CITY!@! create empty list if null -->
                                <span
                                    class="hidden"
                                    ng-if="!ly[eventType]"
                                    ng-init="ly[eventType] = []"
                                >
                                </span>

                                <!-- event repeater -->
                                <span
                                    class="kd timeline_event"
                                    ng-repeat="event in ly[eventType]"
                                    ng-class="{
                                        'red_text': eventType == 'special_showdown',
                                    }"
                                    ng-init= "
                                        eventRepr = kingdomDeath.events[event.handle];
                                    "
                                >

                                    <font
                                        class="kdm_font"
                                        ng-if="eventType == 'story_event'"
                                    >
                                        g
                                    </font>

                                    <span
                                        class="kd icon settlement_event"
                                            ng-if="eventType == 'settlement_event'"
                                    >
                                        SE
                                    </span>

                                    <!-- showdown type events -->
                                    <font
                                        class="kdm_font"
                                        ng-if="eventType == 'showdown_event'"
                                    >
                                        f
                                    </font>

                                    <img
                                        class="kd_icon special_showdown"
                                        src="/static/media/special_showdown_event.png"
                                        ng-if="eventType == 'special_showdown'"
                                    />

                                    <img
                                        class="kd_icon nemesis_encounter"
                                        src="/static/media/nemesis_encounter_event.jpg"
                                        ng-if="eventType == 'nemesis_encounter'"
                                    />

                                    <span ng-if="!event.name">
                                        {a eventRepr.name a}
                                        <span ng-if="eventRepr.page">
                                            (p. {a eventRepr.page a})
                                        </span>
                                    </span>
                                    <span ng-if="event.name">
                                        {a event.name a}
                                    </span>

                                </span> <!-- event repeater -->

                            </span> <!-- eventType repeater -->

                        </div><!-- ly_events -->

                    </div> <!-- individual LY worksheet_row -->

                    <!-- individual LY roll-down controls start here -->

                    <div
                        id="{a rollerControlId a}"
                        class="roll_down_container rolled_up"
                        ng-click="$event.stopPropagation()"
                    >

                        <!--

                            event remover buttons start here

                        -->

                        <div>
                            <!-- iterator (see notes above above) -->
                            <div
                                ng-repeat="eventType in eventTypeIterationOrder"
                            >

                                <!-- event remover clicker -->
                                <div
                                    class="clickable ng_fade kd capsule black full_width"
                                    ng-click="ly[eventType].splice($index, 1);"
                                    ng-repeat="event in ly[eventType]"
                                    ng-init = "eventRepr = kingdomDeath.events[event.handle];"
                                    title="Tap or click to remove event!"
                                >
                                    &#x274C;
                                    <span ng-if="eventRepr.selector_text">
                                        {a eventRepr.selector_text a}
                                    </span>
                                    <span ng-if="event.name && !eventRepr.name">
                                        {a event.name a}
                                    </span>
                                </div> <!-- event repeater -->

                            </div> <!-- eventType repeater -->

                        </div><!-- event remover container -->


                        <!--

                            add event selectors

                        -->
                        <div class="kd worksheet_block borderless">

                            <select
                                class="kd capsule select full_width"
                                ng-model="newSettlementEvent"
                                ng-repeat="eventType in ['settlement_event', 'story_event']"
                                ng-options="
                                    handle as dict.selector_text for (handle, dict) in
                                    settlement.game_assets.events |
                                    attributeFilter:'sub_type':eventType
                                "
                                ng-change="
                                    ly[eventType].push({'handle': newSettlementEvent});
                                    newSettlementEvent = null;
                                "
                                ng-class="{
                                    'brown': eventType === 'settlement_event',
                                }"
                            >
                                <option selected disabled value="">
                                    + {a toTitle(eventType) a}
                                </option>
                            </select>

                            <select
                                class="kd capsule select full_width"
                                ng-model="newShowdown"
                                ng-repeat="showdown in [
                                    {'groupName': 'special_showdown', 'assetsKey': 'special_showdown_options'},
                                    {'groupName': 'nemesis_encounter', 'assetsKey': 'nemesis_encounters'},
                                    {'groupName': 'showdown_event', 'assetsKey': 'showdown_options'},
                                ]"
                                ng-options="
                                    name for name in settlement.game_assets[showdown.assetsKey]
                                "
                                ng-change="
                                    ly[showdown.groupName].push({'name': newShowdown});
                                    newShowdown = null;
                                "
                                ng-class="{
                                    'red': showdown.groupName === 'special_showdown',
                                    'silver': showdown.groupName !== 'special_showdown'
                                }"
                            >
                                <option selected disabled value="">
                                    + {a toTitle(showdown.groupName) a}
                                </option>
                            </select>

                        </div>


                        <!--

                            LY context buttons start here

                        -->

                        <!-- previous year controls; shows on previous LY -->
                        <button
                            class="kd capsule pink full_width"
                            ng-click="
                                ngRoll(rollerControlId, timelineUi.rollers);
                                settlement.sheet.lantern_year = ly.year;
                                postJSONtoAPI(
                                    'settlement',
                                    'set_current_lantern_year',
                                    settlement.sheet._id.$oid,
                                    {'ly': ly.year},
                                    true, true, false
                                );
                            "
                            ng-if="
                                ly.year >= 0 &&
                                settlement.sheet.lantern_year -1 === ly.year
                            "
                        >
                            Return to Lantern Year {a ly.year a}
                        </button>                            

                        <!-- current year controls; shows on current LY -->
                        <button
                            class="kd capsule green full_width"
                            ng-click="
                                ngRoll(rollerControlId, timelineUi.rollers);
                                settlement.sheet.lantern_year = ly.year + 1;
                                postJSONtoAPI(
                                    'settlement',
                                    'set_current_lantern_year',
                                    settlement.sheet._id.$oid,
                                    {'ly': ly.year + 1},
                                    true, true, false
                                );
                            "
                            ng-if="settlement.sheet.lantern_year === ly.year"
                        >
                            End Lantern Year {a ly.year a}
                        </button>
                        <button
                            class="kd capsule pink full_width"
                            ng-click="
                                ngRoll(rollerControlId, timelineUi.rollers);
                                settlement.sheet.lantern_year = ly.year - 1;
                                postJSONtoAPI(
                                    'settlement',
                                    'set_current_lantern_year',
                                    settlement.sheet._id.$oid,
                                    {'ly': ly.year - 1},
                                    true, true, false
                                );
                            "
                            ng-if="
                                ly.year > 0 &&
                                settlement.sheet.lantern_year === ly.year
                            "
                        >
                            Return to Lantern Year {a ly.year - 1 a}
                        </button>                            

                        <!-- next year controls; shows on subsequent LY -->
                        <button
                            class="kd capsule green full_width"
                            ng-click="
                                ngRoll(rollerControlId, timelineUi.rollers);
                                settlement.sheet.lantern_year = ly.year;
                                postJSONtoAPI(
                                    'settlement',
                                    'set_current_lantern_year',
                                    settlement.sheet._id.$oid,
                                    {'ly': ly.year},
                                    true, true, false
                                );
                            "
                            ng-if="
                                ly.year > 0 &&
                                settlement.sheet.lantern_year +1 === ly.year
                            "
                        >
                            Start Lantern Year {a ly.year a}
                        </button>                            

                        <button
                            ng-if="!ngEquals(ly, unmodifiedLy)"
                            class="kd capsule blue full_width"
                            ng-click="
                                ngRoll(rollerControlId, timelineUi.rollers);
                                postJSONtoAPI(
                                    'settlement',
                                    'set_lantern_year',
                                    settlement.sheet._id.$oid,
                                    {'ly': ly},
                                    true, true, false
                                );
                            "
                        >
                            Save & Close
                        </button>

                        <button
                            class="kd capsule full_width"
                            ng-click="
                                ngRoll(rollerControlId, timelineUi.rollers);
                                ly = unmodifiedLy;
                            "
                        >
                            <span
                                ng-if="ngEquals(ly, unmodifiedLy)"
                            >
                                Close
                            </span>

                            <span
                                ng-if="!ngEquals(ly, unmodifiedLy)"
                            >
                                <b>Discard changes</b>
                            </span>

                        </button>

                    </div> <!-- roll_down_container -->

                </div> <!-- no class ly repeater -->

            </div> <!-- timeline col container -->

            <button
                class="kd capsule blue full_width"
                ng-click="
                    settlement.sheet.timeline = null;
                    timelineUi.rollers = [];
                    ngShow('fullPageLoader');
                    postJSONtoAPI(
                        'settlement',
                        'add_lantern_years',
                        settlement.sheet._id.$oid,
                        {'years': 5},
                        true, true, false
                    );
                "
                ng-if="settlement.sheet.timeline.length < 50"
            >
                Add Five (5) Lantern Years
            </button>

            <button
                class="kd capsule pink full_width"
                ng-if="settlement.sheet.timeline.length > 31"
                ng-click="
                    settlement.sheet.timeline = null;
                    timelineUi.rollers = [];
                    ngShow('fullPageLoader');
                    postJSONtoAPI(
                        'settlement',
                        'rm_lantern_years',
                        settlement.sheet._id.$oid,
                        {'years': 5},
                        true, true, false
                    );
                "
            >
                Remove Five (5) Lantern Years
            </button>

        </div><!-- inner ring container -->

    </div><!-- outer ring container -->

    <button
        class="kd_kickstarter_button floating_close_modal_button"
        ng-click="ngHide('timelineControls')"
    >
        Close
    </button>

</div><!-- modal ends here  -->
