<div
    id="helpModal"
    class="modal-black hidden"
    ng-controller="helpModalController"
    title="Click or tap anywhere to close!"
>

    <div class="kd_sheet_ui_outer_ring_container" ng-click="showHide('helpModal')">

        <div
            class="kd_sheet_ui_inner_ring_container help_container"
        >

            <div
                ng-repeat="alert in webappAlerts"
                class="help_modal_tip_repeater kpi"
                ng-if="alert.sub_type == 'kpi'"
            >
                <div class="webapp_alert_detail_bar">
                    <div class="type_stamp maroon_text">Alert!</div>
                    <div class="date_stamp">
                        {{alert.created_on.$date | date:'yyyy-MM-dd @ h:mma'}}
                    </div>
                </div>
                <b>{{alert.title}}</b> <span ng-bind-html="alert.body|trustedHTML"></span>
            </div>


            <h3>Frequently Asked Questions</h3>
 

            <div class="help_col_container">

                <div
                    class="help_modal_tip_repeater"
                >
                    <div class="kd_sheet_ui_box checked"></div>
                    <b>Why version of <i>Monster</i> does the Manager support?</b>
                    As of Friday, October 10th, 2017, the Manager supports version 1.5 of <i>Monster</i>. Older versions are not supported.
                </div>
                <div
                    class="help_modal_tip_repeater"
                >
                    <div class="kd_sheet_ui_box checked"></div>
                    <b>Why does my Timeline include Lantern Year 0?</b>
                    All settlement timelines begin with Lantern Year 0. The <a href="http://tools.kingdomdeath.com/faq/" target="top"> offical FAQ</a> confirms that the Prologue takes place during "Lantern Year 0. When the Timeline is updated in the first Settlement Phase it becomes Lantern Year 1."
                </div>
                <div
                    class="help_modal_tip_repeater"
                >
                    <div class="kd_sheet_ui_box checked"></div>
                    <b>What is the difference between 'New' and 'Newborn' survivors?</b>
                    The Manager distinguishes between "new" and "newborn" survivors: survivors created without parents are considered "new", while survivors created <i>with</i> parents are considered "newborn."<br/> &nbsp; Bonuses and effects that apply to "newborn" survivors will be automatically applied to them at "birth" (i.e. creation), but those bonuses will <i>not</i> be applied at creation time to survivors who are merely "new".
                </div>
                <div
                    class="help_modal_tip_repeater"
                >
                    <div class="kd_sheet_ui_box checked"></div>
                    <b>How do I create survivors with parents?</b>
                    Advance the Timeline to Lantern Year 1 or later. Survivors added to the settlement in LY 0 may not have parents. Such survivors are considered "new" and are not subject to "newborn" benefits inherent to campaign or expansion content.
                </div>
                <div
                    class="help_modal_tip_repeater"
                    ng-if="user.user.subscriber.level < 1"
                >
                    <div class="kd_sheet_ui_box checked"></div>
                    <b>My settlement disappeared!</b>
                    Settlements created by users who do not subscribe to the Manager are removed after they reach 180 days of age (the settlements, not the users). If your settlement was removed, please use the "Report an Issue or Error" controls to ask for help.
                </div>
                <div
                    class="help_modal_tip_repeater"
                >
                    <div class="kd_sheet_ui_box checked"></div>
                    <b>How do I report a bug or a problem with the Manager?</b>
                    There are two ways to report issues.<br/>&nbsp;
                    Open the navigation menu, click or tap "Report an Issue or Error" and fill out a short report. This emails the maintainers of the Manager directly and includes information about you and your settlements that makes issues easier to research.<br/>&nbsp;
                    If you use GitHub, feel free to open issues in <a href="https://github.com/toconnell/kdm-manager/issues" target="top">the Manager's public repository</a>.
                </div>

            </div> <!-- help_col_container -->

            <p 
                class="kd_sheet_ui_row_tip" 
                ng-if="user.user.preferences.show_ui_tips"
                ng-if="settlement.sheet.expansions.length >= 1"
            >
                The help topics below are updated automatically to reflect the campaign,
                expansions and other options enabled for <b>{{settlement.sheet.name}}</b>.
            </p>

            <div class="help_col_container">

                <h4 ng-if="settlement.game_assets.campaign.help.length >=1">
                    Campaign - {{settlement.game_assets.campaign.name}}
                </h4>

                <div
                    class="help_modal_expansion_tips_container"
                >
                    <div
                        class="help_modal_tip_repeater"
                        ng-repeat="help in settlement.game_assets.campaign.help"
                    >
                        <div class="kd_sheet_ui_box checked"></div>
                        <span ng-bind-html="help.tip|trustedHTML"></span>
                    </div>
                </div>

                <div
                    class="help_modal_expansion_tips_container"
                    ng-repeat="exp_handle in settlement.sheet.expansions"
                    ng-if="settlement.game_assets.expansions[exp_handle].help.length >= 1"
                    ng-init="expansion = settlement.game_assets.expansions[exp_handle]"
                >
                    <h4>Expansion - {{expansion.name}}</h4>
                    <div
                        class="help_modal_tip_repeater"
                        ng-repeat="help in expansion.help"
                    >
                        <div class="kd_sheet_ui_box checked"></div>
                        <span ng-bind-html="help.tip|trustedHTML"></span>
                    </div>

                </div>
            </div> <!-- help_col_container -->

            <p class="kd_sheet_ui_row_tip" ng-if="user.user.preferences.show_ui_tips">
                Did you find what you were looking for? If you did not, or if
                you have ideas for additional tips or advice, please consider
                opening <a href="https://github.com/toconnell/kdm-manager/issues"
                target="top">a new issue on the Manager's GitHub</a>.
            </p>

            <br/>

        </div><!-- inner ring container -->

    </div><!-- outer ring container -->
</div><!-- modal-black -->

