<div
    id="modalBulkAdd" class="modal hidden"
    ng-if="user_is_settlement_admin && user.user.subscriber.level > 1"
    ng-init="showHide('bulkAddOpenerButton');"
    ng-controller="addManySurvivorsController"
>

  <!-- Modal content -->
    <div class="full_size_modal_panel survivor_sheet_gradient bulk_add_modal">
        <span class="closeModal" onclick="showHide('modalBulkAdd')">×</span>

        <div
            id="bulkAddControlsContainer"
        >

            <h3>Add Multiple New Survivors</h3>
            <p>Use these controls to add multiple new survivors to {{settlement.sheet.name}}.
                <span ng-if="user.user.preferences.random_names_for_unnamed_assets == true">
                    New survivors will be manageable by all players in the campaign and
                    will be assigned random names.
                </span>
                <span ng-if="user.user.preferences.random_names_for_unnamed_assets == false">
                  New survivors will be manageable by all players in the campaign.
                </span>
            </p>

            <div
                class="create_user_asset_block_group bulk_add_block_group"
            >
                <div class="bulk_add_tumblers">
                    <div class="bulk_add_control">

                        Male

                        <button
                            type="button"
                            class="incrementer"
                            ng-click="scratch.addMaleSurvivors = scratch.addMaleSurvivors + 1"
                        >
                            &#9652;
                        </button>
                        <input
                            id="maleCountBox"
                            class="big_number_square"
                            type="number"
                            value="0"
                            min="0"
                            ng-model="scratch.addMaleSurvivors"
                        />
                        <button
                            type="button"
                            class="decrementer"
                            ng-click="scratch.addMaleSurvivors = scratch.addMaleSurvivors - 1"
                        >
                        &#9662;
                        </button>
                    </div>  <!-- bulk_add_control maleCountBox" -->
                    <div class="bulk_add_control">

                        Female

                        <button
                            type="button"
                            class="incrementer"
                            ng-click="scratch.addFemaleSurvivors = scratch.addFemaleSurvivors + 1"
                        >
                            &#9652;
                        </button>
                        <input
                            id="femaleCountBox"
                            class="big_number_square"
                            type="number"
                            value="0"
                            min="0"
                            ng-model="scratch.addFemaleSurvivors"
                        />

                        <button
                            type="button"
                            class="decrementer"
                            ng-click="scratch.addFemaleSurvivors = scratch.addFemaleSurvivors - 1"
                        >
                            &#9662;
                        </button>
                    </div> <!-- bulk_add_control female -->

                </div> <!-- bulk_add_tumblers -->

            </div>

            <div
                ng-if="settlement.sheet.lantern_year > 0 && (scratch.addFemaleSurvivors > 0 || scratch.addMaleSurvivors > 0)"
            > <!-- parents stuff -->
                <h3>Parents</h3>
                <p>Survivors without parents are not eligible for the automatic
                application of Innovation bonuses granted to newborn survivors!
                </p>

                <div class="bulk_add_block_group">

                    <div class="bulk_add_parent_selectors"> <!-- parent selectors -->
                        <select
                            name="father"
                            ng-model="scratch.manySurvivorsFather"
                            ng-options="survivor._id.$oid as survivor.name for survivor in settlement.eligible_parents.male"
                        /><option selected disabled value="" name="father">Father</option></select>

                        <select
                            name="mother"
                            ng-model="scratch.manySurvivorsMother"
                            ng-options="survivor._id.$oid as survivor.name for survivor in settlement.eligible_parents.female"
                        /><option selected disabled value="" name="mother">Mother</option></select>
                    </div> <!-- parent selectors -->
                </div> <!-- bulk_add_block_group -->

            </div><!--parents stuff -->

            <button
                id="bulkAddSurvivors"
                ng-if="scratch.addMaleSurvivors > 0 || scratch.addFemaleSurvivors > 0"
                onclick="showHide('bulkAddControlsContainer'); showHide('bulkAddResultsContainer')"
                ng-click="addManySurvivors()"
                class="kd_blue settlement_sheet_bulk_add"
            >
                Create New Survivors
            </button>

        </div> <!-- bulkAddControlsContainer -->

        <div
            id="bulkAddResultsContainer"
            class="bulk_add_results_container hidden"
        >
            <div
                class="bulk_add_loader_container"
                ng-if="scratch.showLoader == true"
            >
                <img src="/media/loading_lantern.gif" />
                <p>Creating {{scratch.addMaleSurvivors + scratch.addFemaleSurvivors}} new survivors...</p>
            </div>

            <form
                action=""
                method="POST"
                class="bulk_add_new_survivor_form"
                ng-repeat="s in scratch.bulkAddNewSurvivors"
            >
                <input type="hidden" name="view_survivor" value="{{s.sheet._id.$oid}}">
                <button
                    class="bulk_add_new_survivor"
                    ng-class="{kd_blue: s.sheet.sex == 'M', kd_alert_no_exclaim: s.sheet.sex == 'F'}"
                >
                    <b>{{s.sheet.name}}</b> [{{s.sheet.sex}}]
                </button>
            </form>

        </div>

    </div> <!-- modal content -->
</div> <!-- modal parent -->
