<div
    id="modalReportError"
    class="modal hidden"
>
    <div class="modal-content timeline_gradient">
        <span class="closeModal" onclick="showHide('modalReportError')">×</span>
        <div class="report_error_container">
            <h3>Report an Issue or Error</h3>
            <p>http://kdm-manager.com is a work in progress and is under active development!</p>
            <p>If you identify an issue with the application, whether a typo, a presentation problem or something more disruptive, there are a number of ways to report it.</p>
            <p>To submit an issue via email, use the form below:</p>
            <div class="error_form">
                <form method="POST" action="/">
                    <input type="hidden" name="error_report" value="from_web">
                    <textarea class="report_error metrophobic" name="body" placeholder="Describe your issue here!"></textarea>
                    <input
                        type="submit"
                        class="kd_alert_no_exclaim"
                        value="submit"
                        onclick="showFullPageLoader(); showHide('modalReportError')"
                    />
                </form>
            </div>
        </div>
    </div><!-- modal-content -->
</div> <!-- modalReportError -->

