<!doctype html>
<html>
 <title>$prod_url - $title</title>

 <head>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-71038485-1', 'auto');
      ga('send', 'pageview');
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.4/angular.min.js"></script>
    <script src="/media/login.js?v=$version"></script>

    <link rel="stylesheet" href="/media/login.css?v=$version" />

 </head>


 <body ng-app="login" ng-controller="globalController">

  <div class="container">

    <h1 class="clickable" ng-click="showSignInControls()">$prod_url</h1>
    <h2 class="clickable" ng-click="showSignInControls()">$title</h2>
    
    <h3 class="version_tag">$released</h3>

    <div id="loading_spinner" class="user_inputs hidden">
        <img class="spinner" src="/media/loading_lantern.gif">
    </div>
    <div id="reset_password_controls" class="user_inputs" ng-controller="resetPasswordController">
        <input
            id="resetPasswordEmail"
            type="email"
            class="email"
            value="$login"
            disabled
        />
        <input type="password" placeholder="New password" class="password" ng-model="newPassword" autofocus/>
        <input type="password" placeholder="New password (again)" class="password" ng-model="newPasswordAgain"/>
        <input id="recoveryCode" type="input" class="hidden" value="$code"/>
        <button class="submit kd_promo" ng-click="reset('$api_url')">Reset Password</button>
    </div>
    <div id="pw_match_error" class="modal hidden">
        <div class="modal_message">
            <p>Passwords must match!</p>
            <p>Please try again.</p>
            <p>&nbsp;</p>
            <button class="submit kd_alert" ng-click="hideControls('pw_match_error')">OK</button>
        </div>
    </div>
    <div id="help_error" class="modal hidden">
        <div id="help_error_alert" class="api_alert kd_alert"></div>
        <div class="modal_message">
            <p>&nbsp;</p>
            <button
                class="submit kd_alert"
                ng-click="hideControls('help_error'); showControls('help_controls')"
            >
                OK
            </button>
        </div>
    </div>

  </div> <!-- container -->
 </body>
</html>
