<div
    class="modal campaign_summary_gradient hidden"
    id="settlementNotesContainer"
    ng-if="settlement != undefined && user != undefined"
    ng-controller="settlementNotesController"
    ng-init="showHide('settlementNotesOpenerButton');"
>

    <div class="full_size_modal_panel campaign_summary_gradient">

        <span class="closeModal" onclick="showHide('settlementNotesContainer')">×</span>

        <h3>Campaign Notes</h3>
        <p>All players in the {{settlement.sheet.name}} campaign may make
        notes and comments here. Tap or click notes to remove them.</p>

        <div class="settlement_notes_application_container">

            <div class="settlement_notes_note_container">

                <div class="settlement_notes_controls">
                    <input ng-model="newNote" onclick="this.select()" class="add_settlement_note">
                    <button ng-click="addNote()" class="kd_blue add_settlement_note">+</button>
                </div> <!-- settlement_notes_controls -->

                <div
                    class="settlement_note"
                    ng-repeat="n in settlement.sheet.settlement_notes"
                    ng-init="authorRole = userRole(n.author)"
                >
                    <div class="note_flair">
                        <font
                            ng-if="authorRole === 'settlement_admin'"
                            class="kdm_font_hit_locations"
                        > <span class="flair_text">a</span> </font>
                        <font
                            ng-if="authorRole === 'player'"
                            class="kdm_font_hit_locations"
                        > <span class="flair_text">b</span> </font>
                    </div> <!-- note flair -->

                    <div class="note_content clickable" ng-click="showHide(n._id.$oid)">
                        {{authorRole}}
                        {{n.note}} <span class="author" ng-if="n.author != user_login"> {{n.author}}</span>
                    </div> <!-- note content -->

                    <span
                        id="{{n._id.$oid}}"
                        class="kd_alert_no_exclaim note_remove hidden clickable"
                        ng-if="n.author == user_login || user_is_settlement_admin"
                        ng-click="removeNote($index, n._id.$oid)
                    ">
                        &times;
                    </span>

                </div><!-- settlement_note -->

            </div> <!-- settlement_notes_note_container -->

        </div> <!-- settlement_notes_application_container -->

        <div
            ng-if="user_is_settlement_admin"
            ng-controller="playerManagementController"
            class="player_management_controller"
        >
            <hr/>
            <h3>Manage Players</h3>
                <p>Add other registered users to the {{settlement.sheet.name}}
                campaign by adding their email addresses to the Survivor Sheets
                of survivors in this campaign. </p>

                <table class="player_management">
                    <tr>
                        <th colspan="2">Login</th>
                        <th>Admin</th>
                    </tr>
                    <tr
                        class="player_management_row"
                        ng-repeat="p in settlement.user_assets.players"
                    >
                        <td class="flair" ng-if="arrayContains(p.login, settlement.sheet.admins) == true">
                            <span class="player_management_flair kdm_font_hit_locations">a</span>
                        </td>
                        <td class="flair" ng-if="arrayContains(p.login, settlement.sheet.admins) == false">
                            <span class="player_management_flair kdm_font_hit_locations">b</span>
                        </td>

                        <td class="login">
                            {{p.login}}
                            <span ng-if="p._id.$oid == settlement.sheet.created_by.$oid">
                                (Founder)
                            </span>
                        </td>

                        <td class="admin">
                            <input
                                type="checkbox"
                                class="player_management_admin"
                                ng-if="p._id.$oid != settlement.sheet.created_by.$oid"
                                ng-model="playerIsAdmin"
                                ng-checked="settlement.sheet.admins.indexOf(p.login) != -1"
                                ng-click="toggleAdmin(p.login)"
                            />
                        </td>
                    </tr>
                </table>

            <hr/>

            <button
                class="kd_blue "
                onClick="showFullPageLoader(); showCornerLoader();"
                ng-click="initializeSettlement();"
            >
                Save and reload view!
            </button>

        </div> <!-- ng-if div -->
    </div><!-- full size modal panel -->
</div> <!-- modal (parent) -->
