@import url(//fonts.googleapis.com/css?family=Ruda);

@font-face {
    font-family: 'kdm-font-2';
    src: url('/media/fonts/kdm-font-2.eot?#iefix') format('embedded-opentype'),
        url('/media/fonts/kdm-font-2.ttf') format('truetype'),
        url('/media/fonts/kdm-font-2-webfont.woff') format('woff'),
        url('/media/fonts/kdm-font-2-webfont.woff2') format('woff2');
}
.kdm_font_2, .kdm_font_hit_locations {font-family: 'kdm-font-2'; }

@font-face {
    font-family: 'kdm-font-10';
    src: url('/media/fonts/kdm-font-10.eot?#iefix') format('embedded-opentype'),
        url('/media/fonts/kdm-font-10.ttf') format('truetype'),
        url('/media/fonts/kdm-font-10-webfont.woff') format('woff'),
        url('/media/fonts/kdm-font-10-webfont.woff2') format('woff2');
}
.kdm_font, .kdm_font_10 {font-family: 'kdm-font-10'; }

@font-face {
    font-family: 'Metrophobic';
    src: url('/media/fonts/Metrophobic.eot?#iefix') format('embedded-opentype'),
        url('/media/fonts/Metrophobic.woff') format('woff'),
        url('/media/fonts/Metrophobic.ttf') format('truetype');
}
.metrophobic {font-family: Metrophobic;}

@font-face {
    font-family: 'Silverado';
    font-size: larger;
    src: url('/media/fonts/329BC2_0_0.eot?#iefix') format('embedded-opentype'),
        url('/media/fonts/329BC2_0_0.woff') format('woff'),
        url('/media/fonts/329BC2_0_0.woff2') format('woff2'),
        url('/media/fonts/329BC2_0_0.ttf') format('truetype');
}

/* other font declaration/alias stuff - all breakpoints */
.helvetica {font-family: Helvetica, sans-serif; height: 100%; }



/* KD icon emulation */
.kdm_se_card {
    background-image: url('/media/icons/settlement_event.png');
    color: rgba(255,255,255,0);
    background-size: 1em; 
    background-repeat: no-repeat; 
    background-position: center; 
}

/*  abstract fonts - new in version 4  */
.font_tiny {font-size: var(--font-tiny); }
.font_small {font-size: var(--font-small); }
.font_medium {font-size: var(--font-medium); }
.font_large {font-size: var(--font-large); }


