
h3.hunt_phase {font-size: 25pt; margin-bottom: 0; }
.hunt_phase_container button {transition: 2s; font-size: 30pt; }
p.hunt_phase_subtitle {font-size: 15px; margin: 0 auto; text-align: center; width: 80%; font-family: 'Metrophobic';}

.option_container.controls {display: flex; flex-direction: row; }
.option_container.drawn_cards {border-bottom: 1px solid #ccc; padding-bottom: 1%; }

.option_container.expansion_cards {display: flex; flex-direction: row; border-bottom: 1px solid #ccc; }
button.expansion_card {font-family: 'Silverado'; font-size: 30pt; }

.hunt_phase_container .card_container {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly;  }
.hunt_phase_container span.card {width: 30%; border: 2px solid #000; border-radius: 25px; display: inline-block; color: #000; margin: 3px; }
.hunt_phase_container p.card_title {font-weight: bold; text-align: center; margin: 1% auto; font-size: 30pt; padding: 0; }
.hunt_phase_container p.card_subtitle {font-size: 20pt; text-align: center; margin: 0; margin-top: -4%; padding: 0; }
.hunt_phase_container p.card_desc {font-family: 'Metrophobic'; font-size: 20pt; }
.hunt_phase_container div.die_roll {font-size: 20pt; border-radius: 100%; background: radial-gradient(#000, #333); color: #fff; width: 30px; display: flex; justify-content: center; margin: 0 auto; margin-bottom: 5%;  padding:5%; border: 2px solid #fff; }


/* tablet starts here */
@media only screen and (min-width: 700px) and (max-resolution: 3dppx) {
    .hunt_phase_container {width: 90%; padding: 1%;  margin: 0 auto; margin-top: 2%; }
    .hunt_phase_container .option_container {padding: 1%; margin: 1%; }
    .hunt_phase_container .option_container button {width: auto; margin: 1%; padding: 1%; padding-left: 3%; padding-right: 3%; font-size: 15pt; }

    .hunt_phase_container p.card_title {font-size: 20pt; }
    .hunt_phase_container p.card_subtitle {font-size: 12pt; }
    .hunt_phase_container p.card_desc {font-size: 15pt; }
    .hunt_phase_container button {font-size: 20pt; }
}


/* wide res breakpoint */
@media only screen and (min-width: 1050px) and (orientation: landscape) {
    h3.hunt_phase {font-size: 15pt; }
    p.hunt_phase_subtitle {font-size: 11pt; }
    .hunt_phase_container .option_container button {font-size: 12pt; }
    .hunt_phase_container p.card_title {font-size: 13pt; }
    .hunt_phase_container p.card_subtitle {margin-top: -2%; }
    .hunt_phase_container p.card_desc {font-size: 11pt; width: 90%; }
    .hunt_phase_container div.die_roll {font-size: 13pt; width: 20px; }
    .hunt_phase_container button {font-size: 12pt; width: auto; margin: 0 auto; padding: 1%; width: 300px; }
}
