/*          */
/*  fonts   */
/*          */

@import url(//fonts.googleapis.com/css?family=Ruda);

@font-face {
    font-family: 'Silverado';
    src: url('/media/fonts/329BC2_0_0.eot');
    src: url('/media/fonts/329BC2_0_0.eot?#iefix')
        format('embedded-opentype'), url('/media/fonts/329BC2_0_0.woff2') format('woff2'),
        url('/media/fonts/329BC2_0_0.woff') format('woff'),
        url('/media/fonts/329BC2_0_0.ttf') format('truetype');
}

.helvetica {font-family: Helvetica, sans-serif; height: 100%; }


/*              */
/*  CSS reset   */
/*              */

html, body {
    color: #fff;
    font-family: 'Ruda';
    height: 100%; 
    margin: 0;
    padding: 0;
}

h1 {font-family: 'Silverado';}

a {
    color: inherit;
    margin: 0 auto;
    text-decoration: none;
    font-weight: bold;
}

button {
    background-color: inherit;
    border: 0;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    outline: none;
}



/* mobile style */

.container {
    background: radial-gradient(circle, #333, #000);
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: min-content;
}

h1 {margin: 0 auto; margin-top: 15%;}
h2 {
    font-size: 1rem;
    font-weight: normal;
    margin: 1rem auto;
    margin-top: 0; 
    width: 90%;
    text-align: center;  
} 
h3 {    /*  version tag */
    font-size: 0.6rem;
    position: absolute;
    right: 3%;
}

button.sign_up {position: fixed; bottom: 2%; left: 3%; }
button.help {position: fixed; bottom: 2%; right: 3%; }

.user_inputs {margin: 0 auto; margin-top: 25%; width: 80%; padding: 0; text-align: center; margin-bottom: 25%; }

input {
    background-color: #000;
    color: #fff;
    font-family: 'Silverado';
    padding-left: 5%;
    margin: 0 auto;
    margin-bottom: 5%;
    width: 95%;
}
input,
    button.submit {
    border: 0;
    border-radius: 10vw;
    padding: 3%;
}

button.submit {width: 100%;}

.spinner {
    border: 0;
}
.tiny_loader img {
    height: 1rem;
}

.modal {flex-direction: column; display:flex; align-items: center; justify-content: flex-end; }
.modal p.disclaimer {text-align: left; }
.modal_message {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 3%;
    width: 90%;
}
.api_alert {position: absolute; top: 3%; left: 3%; right: 3%; font-size: 250%; padding: 2%; }


noscript {margin: 0 auto; margin-top: 3%; display: block; background-color: #CC0000; border: 0.2em solid #fff; color: #fff; text-align: center; padding: 1%; }


/*  hide bottom buttons if keyboard is displayed */

@media only screen
    and (max-device-height: 400px)
    {

    html {height: auto; }
    button.sign_up,
        button.help {
        display: none;
    }

}

/* tablet style */

@media only screen
  and (min-device-width: 768px),
  and (max-device-width: 1024px),
  and (-webkit-min-device-pixel-ratio: 1) {


    input, button.submit {width: 55%; }
    button.submit {width: 60%; }

    .user_inputs {margin-bottom: auto; }

    .modal p {margin: 0 auto; width: 70%; }
    .modal p.disclaimer {margin-bottom: 3%; }

}

/* wide style */

@media only screen and (min-width: 1050px) and (orientation: landscape) {

    input,
        button.submit {
        width: 35%;
    }
    button.submit {width: 40%; margin: 0 auto;}

    .spinner {height: auto; margin: 0 auto; }

    .user_inputs {display: flex; flex-direction: column; max-width: 800px; margin-top: 200px; }

    .modal {justify-content: center; }
    .modal p {margin-bottom: 4%; }

    .modal_message {width: 50%; display: flex; flex-direction: column; }
    .modal_message input {width: 60%; }
    .modal_message button {width: 65%; }
}



/* general style - all breakpoints - last chance overwrites */


.clickable {cursor: pointer; }
.hidden {display: none;}
.kd_promo {color: #fff; background: radial-gradient(circle, #5Dd7F2, #50CAF5, #3FACCF); }
.kd_alert {background-color: #FF0040; color: #fff; }

.user_inputs {min-height: min-content; }
.modal {
    background-color: #000;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}

input {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #000;
}
 
input:focus {
  box-shadow: 0 0 20px rgba(255, 238, 81, 1);
  border: 1px solid rgba(255, 238, 81, 1);
}

